<%= form_for(staff) do |f| %>
  <% if staff.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h2>

      <ul>
      <% staff.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
      <%= f.label :common_name %>
      <%= f.text_field :common_name %>

      <%= f.label :ic_name %>
      <%= f.text_field :ic_name %>    
  </div>
</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
