<% provide(:title, "Staff Index") %>
<p id="notice"><%= notice %></p>

<h1>Staffs</h1>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>ID</th>
      <th>Common Name</th>
      <th>IC Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @staffs.each do |staff| %>
      <tr>
        <td><%= staff.id %></td>
        <td><%= staff.common_name %></td>
        <td><%= staff.ic_name %></td>
        <td><%= link_to 'Show', staff %>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Edit', edit_staff_path(staff) %>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Remove', staff, method: :delete, data: { confirm: 'Are you sure you want to remove this staff?' }, class: 'delete' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Staff', new_staff_path %>
