<% provide(:title, "Staff Details") %>
<p id="notice"><%= notice %></p>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>Common Name</th>
      <th>IC Name</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @staff.common_name %></td>
        <td><%= @staff.ic_name %></td>
      </tr>
  </tbody>
</table>



<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
