<%= form_for(absentee) do |f| %>
  <% if absentee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(absentee.errors.count, "error") %> prohibited this absentee from being saved:</h2>

      <ul>
      <% absentee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :member_id %>
    <%= f.collection_select :member_id, Member.order('common_name ASC'), :id, :common_name, prompt: 'Select Members Name', include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :function_date %>
    <%= f.date_select :function_date %>
  </div>

  <div class="field">
    <%= f.label :remarks %>
    <%= f.text_field :remarks %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
