<table class="table table-responsive">
  <thead>
  <tr>
    <th>Member</th>
    <% @result.each do |date| %>
      <th class="text-center"><%= date.strftime('%d/%m %a') %></th>
    <% end %>
  </tr>
  </thead>
  <tbody>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.common_name %></td>
      <% @result.each do |date| %>

        <td class="<%= @absentees.select{ |x| x.function_date.to_date == date.to_date && x.member_id == member.id }.count > 0 ? "absent" : "present" %>"></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
