<p id="notice"><%= notice %></p>

<h1>Absentees</h1>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead>
    <tr>
      <th>Member</th>
      <th>Function date</th>
      <th>Remarks</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @absentees.each do |absentee| %>
      <tr>
        <td><%= absentee.member.common_name %></td>
        <td><%= absentee.function_date %></td>
        <td><%= absentee.remarks %></td>
        <td><%= link_to 'Show', absentee %></td>
        <td><%= link_to 'Edit', edit_absentee_path(absentee) %></td>
        <td><%= link_to 'Destroy', absentee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Absentee', new_absentee_path %>
