<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @absentee.member %>
</p>

<p>
  <strong>Function date:</strong>
  <%= @absentee.function_date %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @absentee.remarks %>
</p>

<%= link_to 'Edit', edit_absentee_path(@absentee) %> |
<%= link_to 'Back', absentees_path %>
