<div class="center jumbotron">
  <h1>Welcome to membership database</h1>

  <h2>
    This is the home page for the application.
  </h2>

  <% if user_signed_in? %>
  <%= link_to "Membership", members_path, class: "btn btn2 btn-primary" %>
  <% else %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn2 btn-primary" %>
  <% end %>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
