<%= form_for(pledge) do |f| %>
  <% if pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2  col-md-offset-3">
      <%= f.label :member_id %>
      <%= f.collection_select :member_id, Member.order('ic_name ASC'), :id, :common_name, prompt: 'Select Members Name'%>
    </div>

    <div class="col-md-2">
      <%= f.label :year %>
      <%= f.date_select :year, {discard_day: true, discard_month: true}, {class: "form-control"} %>
    </div>

    <div class="col-md-2">
      <%= f.label :pledge_notes %>
      <%= f.text_field :amount_percentage %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2  col-md-offset-3">
      <%= f.label :monthly_contribution %>
      <%= f.number_field :amount, step: 0.01, value: "%.2f" % (pledge.amount || 0), required: true %>
    </div>

    <div class="col-md-2">
      <%= f.label :special_contribution %>
      <%= f.text_field :special_contribution_pledge, step: 0.01, value: "%.2f" % (pledge.special_contribution_pledge || 0), required: true %>
    </div>

    <div class="col-md-2">
      <%= f.label :building_fund %>
      <%= f.text_field :building_fund_pledge, step: 0.01, value: "%.2f" % (pledge.building_fund_pledge || 0), required: true %>
    </div>
  </div>

  <div class="row">
    <div class="actions col-md-6 col-md-offset-3">
      <%= f.submit %>
    </div>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-4 col-md-offset-2">
      <table>
        <thead>
          <tr>
            <td>Year</td>
            <td>Amount</td>
            <td>Special</td>
            <td>Building</td>
            <td>Note</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td id="year">-</td>
            <td id="amount">-</td>
            <td id="special">-</td>
            <td id="building">-</td>
            <td id="note">-</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <table>
        <thead>
          <tr>
            <td>Name</td>
            <td>Year</td>
            <td>Amount</td>
            <td>Special</td>
            <td>Building</td>
            <td>Note</td>
          </tr>
        </thead>
        <tbody id="member_group">
        </tbody>
      </table>
    </div>
  </div>

<script>
  $( "#pledge_member_id" ).select2({
    theme: "bootstrap" });

  $('#pledge_member_id').change(function() {
    var selectedValue = $('#pledge_member_id').val();
    if (selectedValue) {
      $.get( "<%= pledge_last_pledge_query_url %>?id=" + selectedValue, function( data ) {
        if(data.last_pledge) {
          var d = new Date(data.last_pledge.year);
          var n = d.getFullYear();
          $('#year').text(n);
          $('#amount').text(data.last_pledge.amount);
          $('#special').text(data.last_pledge.special_contribution_pledge);
          $('#building').text(data.last_pledge.building_fund_pledge);
          $('#note').text(data.last_pledge.amount_percentage);
        } else {
          $('#year').text('null');
          $('#amount').text('null');
          $('#special').text('null');
          $('#building').text('null');
          $('#note').text('null');
        }

        $.get( "<%= member_groups_query_url %>?id=" + selectedValue, function( data ) {
          $('#member_group').empty();
          //$('#member_group').text(JSON.stringify(data));
          data.member_group.forEach(function(element) {
            if(element.pledge) {
              var d = new Date(element.pledge.year);
              var n = d.getFullYear();
              $('#member_group').append("<tr>" +
                "<td>"+ element.member.common_name + "</td>" +
                "<td>"+ n + "</td>" +
                "<td>"+ element.pledge.amount + "</td>" +
                "<td>"+ element.pledge.special_contribution_pledge + "</td>" +
                "<td>"+ element.pledge.building_fund_pledge + "</td>" +
                "<td>"+ element.pledge.amount_percentage + "</td>" +
              "</tr>");
            } else {
              $('#member_group').append("<tr>" +
                "<td>"+ element.member.common_name + "</td>" +
                "<td colspan='5'></td></tr>");
            }
            //console.log(element.common_name);
          });
          // $('#pledge_amount').html(data.pledge_amount);
        });
        // $('#pledge_amount').html(data.pledge_amount);
        console.log( JSON.stringify(data.last_pledge) );
        console.log( selectedValue );
      });
    }
  });

  $(document).ready(function() {
    var selectedValue = $('#pledge_member_id').val();
    if (selectedValue) {
      $.get( "<%= pledge_last_pledge_query_url %>?id=" + selectedValue, function( data ) {
        if(data.last_pledge) {
          var d = new Date(data.last_pledge.year);
          var n = d.getFullYear();
          $('#year').text(n);
          $('#amount').text(data.last_pledge.amount);
          $('#special').text(data.last_pledge.special_contribution_pledge);
          $('#building').text(data.last_pledge.building_fund_pledge);
          $('#note').text(data.last_pledge.amount_percentage);
        } else {
          $('#year').text('null');
          $('#amount').text('null');
          $('#special').text('null');
          $('#building').text('null');
          $('#note').text('null');
        }

        $.get( "<%= member_groups_query_url %>?id=" + selectedValue, function( data ) {
          $('#member_group').empty();
          //$('#member_group').text(JSON.stringify(data));
          data.member_group.forEach(function(element) {
            if(element.pledge) {
              var d = new Date(element.pledge.year);
              var n = d.getFullYear();
              $('#member_group').append("<tr>" +
                "<td>"+ element.member.common_name + (element.member.on_behalf === true ? '  *' : '') + "</td>" +
                "<td>"+ n + "</td>" +
                "<td>"+ element.pledge.amount + "</td>" +
                "<td>"+ element.pledge.special_contribution_pledge + "</td>" +
                "<td>"+ element.pledge.building_fund_pledge + "</td>" +
                "<td>"+ element.pledge.amount_percentage + "</td>" +
              "</tr>");
            } else {
              $('#member_group').append("<tr>" +
                "<td>"+ element.member.common_name +  (element.member.on_behalf === true ? '  *' : '') + "</td>" +
                "<td colspan='5'></td></tr>");
            }
            //console.log(element.common_name);
          });
          // $('#pledge_amount').html(data.pledge_amount);
        });
        // $('#pledge_amount').html(data.pledge_amount);
        console.log( JSON.stringify(data.last_pledge) );
        console.log( selectedValue );
      });
    }
  });
</script>
