<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>Year</td>
      <td>Monthly</td>
      <td>Building</td>
      <td>Special</td>
      <td>Pledge Notes</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <% if member.member_group_leader %>
      <% member.member_group_leader.member_groups.each do |m| %>
      <tr>
        <td><%= m.common_name + (m.on_behalf == true ? '  *' : '') %></td>
        <% if m.pledges.last %>
          <td><%= m.pledges.last.year.to_date.year %></td>
          <td><%= m.pledges.last.amount %></td>
          <td><%= m.pledges.last.building_fund_pledge %></td>
          <td><%= m.pledges.last.special_contribution_pledge %></td>
          <td><%= m.pledges.last.amount_percentage %></td>
          <td><%= link_to 'Create another pledge', new_pledge_path(name: m.common_name) %></td>
        <% else %>
          <td colspan="5"></td>
          <td><%= link_to 'Create another pledge', new_pledge_path(name: m.common_name) %></td>
        <% end %>
      </tr>
      <% end %>
    <% else %>
      <tr class="text-center">
        <td colspan="7">No member group</td>
      </tr>
    <% end%>
  </tbody>
</table>
