<%= form_for(pledge) do |f| %>
  <% if pledge.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pledge.errors.count, "error") %> prohibited this pledge from being saved:</h2>

      <ul>
      <% pledge.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2  col-md-offset-3">
      <%= f.label :member_id %>
      <%= f.collection_select :member_id, Member.order('ic_name ASC'), :id, :ic_name, prompt: 'Select Members Name'%>
    </div>

    <div class="col-md-2">
      <%= f.label :year %>
      <%= f.date_field :year %>
    </div>

    <div class="col-md-2">
      <%= f.label :pledge_percentage %>
      <%= f.text_field :amount_percentage %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2  col-md-offset-3">
      <%= f.label :monthly_contribution %>
      <%= f.text_field :amount, required: true %>
    </div>

    <div class="col-md-2">
      <%= f.label :special_contribution %>
      <%= f.text_field :special_contribution_pledge, required: true %>
    </div>

    <div class="col-md-2">
      <%= f.label :building_fund %>
      <%= f.text_field :building_fund_pledge,required: true %>
    </div>
  </div>

  <div class="row">
    <div class="actions col-md-6 col-md-offset-3">
      <%= f.submit %>
    </div>
  </div>
<% end %>
