<% provide(:title, "Edit Pledge") %>
<h1>Editing Pledge</h1>

<div class="row">
  <%= render 'form2', pledge: @pledge %>
</div>
<br>
<div class="row center" style="margin-top:10px">
  <%= link_to 'Show', @pledge %> |
  <%= link_to 'Back', pledges_path %>
</div>
