<% provide(:title, "Pledges List") %>
<p id="notice"><%= notice %></p>

<h1>Pledges List</h1>
<%= form_tag(pledges_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :year, options_for_select(
          (Date.today - 5.years).year..(Date.today + 5.years).year, params[:year] || ''
        ), {class: "form-control", include_blank: true, prompt: 'Select Year' }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', class: "btn filter btn-info" %>
      </div>
    </div>

  </div>
<% end %>

<%= link_to 'New Pledge', new_pledge_path, class: "btn btn btn-primary", style: "margin-bottom: 10px;" %>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
    <thead>
      <tr>
        <th>Member</th>
        <th>Year</th>
        <th>Monthly Con.</th>
        <th>Special Con.</th>
        <th>Building Fund</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @pledges.each do |pledge| %>
        <tr>
          <td><%= pledge.member.common_name %></td>
          <td><%= pledge.year.strftime("%Y") %></td>
          <td><%= '%.2f' % (pledge.amount ? pledge.amount : 0 )%></td>
          <td><%= '%.2f' % (pledge.special_contribution_pledge ? pledge.special_contribution_pledge : 0) %></td>
          <td><%= '%.2f' % (pledge.building_fund_pledge ? pledge.building_fund_pledge : 0) %></td>
          <td><%= link_to 'Show', pledge %> ||
              <%= link_to 'Edit', edit_pledge_path(pledge) %> ||
              <%= link_to 'Destroy', pledge, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @members %>


<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
