<% provide(:title, "Pledges Report") %>
<p id="notice"><%= notice %></p>

<%= form_tag(pledges_member_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :year, options_for_select(
          (Date.today - 5.years).year..(Date.today + 5.years).year, params[:year] || ''
        ), {class: "form-control", include_blank: true, prompt: 'Select Year' }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :condition, options_for_select(
          [['Select Status', ''], ['No Records', 'no_pledge']], params[:condition] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', class: "btn filter btn-info" %>
      </div>
    </div>

  </div>
<% end %>


<h1>Pledges Reports</h1>

<%= link_to 'New Pledge', new_pledge_path, class: "btn btn btn-primary", style: 'margin-bottom: 10px;' %> &nbsp;
<%= link_to 'Download CSV', pledges_member_path(format: 'csv', name: params[:name], year: params[:year], condition: params[:condition]), style: 'margin-bottom: 10px;', class: "btn btn btn-primary" %>
<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
    <thead>
      <tr>
        <th> No. </th>
        <th> Name </th>
        <th> Sector </th>
        <th> Year </th>
        <th> Monthly Con. </th>
        <th> Special Con. </th>
        <th> Building Fund </th>
      </tr>
    </thead>
    <tbody>
      <% @members.select{|x| x.sector.active}.each_with_index do |member, index| %>
        <tr>
          <td> <%= @members.offset + index + 1 %></td>
          <td> <%= member.common_name %> </td>
          <td> <%= member.sector ? member.sector.sector_type : '' %> </td>
          <td> <%= !member.pledges.empty? ? member.pledges.sort_by(&:year).last.year.strftime("%Y") : '' %> </td>
          <td> <%= !member.pledges.empty? ? number_to_currency(member.pledges.sort_by(&:year).last.amount, delimiter: ",", unit: '') : '' %> </td>
          <td> <%= !member.pledges.empty? ? number_to_currency(member.pledges.sort_by(&:year).last.special_contribution_pledge, delimiter: ",", unit: '') : '' %> </td>
          <td> <%= !member.pledges.empty? ? number_to_currency(member.pledges.sort_by(&:year).last.building_fund_pledge, delimiter: ",", unit: '') : '' %> </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<%= will_paginate @members %>

<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
