<% provide(:title, "New Pledge") %>
<h1>New Pledge</h1>

<div class="row">
  <%= render 'form2', pledge: @pledge %>
</div>
<div class="row center" style="margin-top:10px">
  <%= link_to 'Back', pledges_path %>
</div>
