<% provide(:title, "View Pledge") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4  col-md-offset-0">
    <p>
      <strong>Member:</strong>
      <%= @pledge.member.common_name %>
    </p>

    <p>
      <strong>Year:</strong>
      <%= @pledge.year.strftime("%Y") %>
    </p>

    <p>
      <strong>Monthly Contribution:</strong>
      <%= '%.2f' % @pledge.amount %>
    </p>
    <p>
      <strong>Special Contribution:</strong>
      <%= '%.2f' % @pledge.special_contribution_pledge %>
    </p>
    <p>
      <strong>Building Fund:</strong>
      <%= '%.2f' % @pledge.building_fund_pledge %>
    </p>
    <p>
      <strong>Pledge Percentage:</strong>
      <%= @pledge.amount_percentage %>
    </p>

    <%= link_to 'Edit', edit_pledge_path(@pledge) %> |
    <%= link_to 'Back', pledges_path %>
  </div>
  <div class="col-md-6" style="margin-top:30px">
    <%= render 'member_group_table', member: @pledge.member %>
  </div>
</div>

<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
