<%= form_for(main_sector) do |f| %>
  <% if main_sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(main_sector.errors.count, "error") %> prohibited this main_sector from being saved:</h2>

      <ul>
      <% main_sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :sector_name %>
    <%= f.text_field :sector_name %>
  </div>

  <div class="field">
    <%= f.label :staff_id %>
    <%= f.text_field :staff_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
