<p id="notice"><%= notice %></p>

<h1>Main Sectors</h1>

<table>
  <thead>
    <tr>
      <th>Sector name</th>
      <th>Staff</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @main_sectors.each do |main_sector| %>
      <tr>
        <td><%= main_sector.sector_name %></td>
        <td><%= main_sector.staff %></td>
        <td><%= link_to 'Show', main_sector %></td>
        <td><%= link_to 'Edit', edit_main_sector_path(main_sector) %></td>
        <td><%= link_to 'Destroy', main_sector, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Main Sector', new_main_sector_path %>
