<p id="notice"><%= notice %></p>

<p>
  <strong>Sector name:</strong>
  <%= @main_sector.sector_name %>
</p>

<p>
  <strong>Staff:</strong>
  <%= @main_sector.staff %>
</p>

<%= link_to 'Edit', edit_main_sector_path(@main_sector) %> |
<%= link_to 'Back', main_sectors_path %>
