<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Good day. </p>

    <p>This is to notify you that you have an outstanding. <%= @month.to_date.strftime("%B %Y")
 %></p>


  </body>
</html>
