<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> Good day. </p>

    <p>This is to notify you that <%= @member.common_name %> has been transferred into your sector <%= @sector_transaction.current_sector.sector_type %>. Please do not forget to assign <%= @member.common_name %> a leader.</p>


  </body>
</html>
