<% provide(:title, "Sector Transactions") %>
<p id="notice"><%= notice %></p>

<%= form_tag(sector_transactions_path, :method => "get", id: "search-form") do %>
  <div style="width: 10%; float:left;">
    <%= select_tag :year, options_for_select(
      (Date.today - 5.years).year..(Date.today + 5.years).year, params[:year] || ''
    ), placeholder: "Search Year", id: 'search_field', include_blank: true %>
  </div>
  <div style="width: 10%; float:left;">
    <%= text_field_tag :start_month, params[:start_month], placeholder: "Start Month", id: 'select_month' %>
  </div>
  <div style="width: 10%; float:left;">
    <%= text_field_tag :end_month, params[:end_month], placeholder: "End Month", id: 'select_month2' %>
  </div>
  <div style="width: 30%;">
    <%= submit_tag "Search", :name => nil, id: 'searchBtn' %>
    <% end %>
  </div>

<h1>Sector Transactions</h1>
<div style="margin-bottom: 10px;">
  <table class="col-md-12 table-bordered table-condensed cf">
    <thead class="cf">
      <tr>
        <th></th>
        <th><center>Pro Men<center></th>
        <th>Pro Women</th>
        <th>CHI GYM Men</th>
        <th>CHI GYM Women</th>
        <th>Y and F Men</th>
        <th>Y and F Women</th>
        <th>SOS Men</th>
        <th>SOS Women</th>
        <th>YP Men</th>
        <th>YP Women</th>
        <th>Campus Men</th>
        <th>Campus Women</th>

      </tr>
    </thead>

    <tbody>
      <tr>
        <td>Baptisms</td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 2 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 2 && x.member.gender == false }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 7 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 7 && x.member.gender == false }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 4 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 4 && x.member.gender == false }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 1 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 1 && x.member.gender == false }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 6 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 6 && x.member.gender == false }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 5 && x.member.gender == true }.length %><center></td>
        <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 13 && x.current_sector_id == 5 && x.member.gender == false }.length %><center></td>
      </tr>
        <tr>
          <td>Restorations</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 2 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 2 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 7 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 7 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 4 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 4 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 1 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 1 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 6 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 6 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 5 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 12 && x.current_sector_id == 5 && x.member.gender == false }.length %><center></td>
        </tr>
        <tr>
          <td>Moved In</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 2 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 2 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 7 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 7 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 4 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 4 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 1 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 1 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 6 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 6 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 5 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 11 && x.current_sector_id == 5 && x.member.gender == false }.length %><center></td>
        </tr>
        <tr>
          <td>Cancelled Memberships</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 8 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 8 && x.member.gender == false }.length %><center></td>
        </tr>
        <tr>
          <td>Moved Out</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 10 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 10 && x.member.gender == false }.length %><center></td>
        </tr>
        <tr>
          <td>Deaths</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 9 && x.member.gender == true }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.current_sector_id == 9 && x.member.gender == false }.length %><center></td>
        </tr>
        <tr>
          <td>Internal Transfers In</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 2 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 2 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 7 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 7 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 4 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 4 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 1 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 1 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 6 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 6 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 5 && x.member.gender == true && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.current_sector_id == 5 && x.member.gender == false && !([11,12,13].include?(x.previous_sector_id.to_i)) }.length %><center></td>
        </tr>
        <tr>
          <td>Internal Transfers Out</td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 2 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 7 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 4 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 1 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 6 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.member.gender == true && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
          <td><center><%= @my_sector_transactions.select{ |x| x.previous_sector_id == 5 && x.member.gender == false && !([8,9,10].include?(x.current_sector_id.to_i)) }.length %><center></td>
        </tr>
    </tbody>
  </table>
</div><br>&nbsp;
<h1>Details</h1>

  <%= link_to "Download CSV", sector_transactions_path(format: "csv", year: params[:year], start_month: params[:start_month], end_month: params[:end_month]), class: 'btn btn btn-primary' %> <br><br>

<table class=" table-bordered table-condensed cf col-md-12">
  <thead class="cf">
    <tr>
      <th>ID</th>
      <th>Previous Sector</th>
      <th>Current Sector</th>
      <th>Member</th>
      <th>When?</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @sector_transactions.each do |sector_transaction| %>
      <tr style="<%= 'background-color:#EBF5FB;' if sector_transaction.current_sector.sector_type == 'Cancelled' %>
                <%= 'background-color:#EBF5FB;' if sector_transaction.current_sector.sector_type == 'Moved Out' %>
                <%= 'background-color:#EBF5FB;' if sector_transaction.current_sector.sector_type == 'Passed Away' %>
                <%= 'background-color:#EBF5FB;' if sector_transaction.previous_sector.sector_type == 'Baptisms' %>
                <%= 'background-color:#EBF5FB;' if sector_transaction.previous_sector.sector_type == 'Restorations' %>
                <%= 'background-color:#EBF5FB;' if sector_transaction.previous_sector.sector_type == 'Moved In' %>">
        <td><%= sector_transaction.id %></td>
        <td><%= sector_transaction.previous_sector.sector_type %></td>
        <td><%= sector_transaction.current_sector.sector_type %></td>
        <td><%= sector_transaction.member.common_name %></td>
        <td style="vertical-align:middle">
            <%= form_for(sector_transaction) do |f| %>
                <div class="col-md-6" style="display: block; valign: middle;">
                  <%= f.date_field :created_at %>
                </div>

              <div class="actions" style="display: inline-block; valign: middle;">
              <%= f.submit "Update" %>
            <% end %>
        </td>
        <td><%= link_to 'Do Not Press This', sector_transaction, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @sector_transactions %>

&nbsp;

<script>

$("#select_month").datepicker( {
    format: "mm",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});

$("#select_month2").datepicker( {
    format: "mm",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
