<p id="notice"><%= notice %></p>

  <table class="col-md-12 table-bordered table-condensed cf">
    <thead class="cf">
      <tr>
        <th>Previous Sector</th>
        <th>Current Sector</th>
        <th>Member</th>
        <th>When?</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @sector_transaction.previous_sector.sector_type %></td>
          <td><%= @sector_transaction.current_sector.sector_type %></td>
          <td><%= @sector_transaction.member.common_name %></td>
          <td><%= @sector_transaction.created_at.strftime("%d/%m/%Y") %></td>
          <td><%= link_to 'Destroy', @sector_transaction, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
    </tbody>
  </table>&nbsp;<br>

<%= link_to 'Edit', edit_sector_transaction_path(@sector_transaction) %> |
<%= link_to 'Back', sector_transactions_path %>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
