<%= form_for(sector) do |f| %>
  <% if sector.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sector.errors.count, "error") %> prohibited this sector from being saved:</h2>

      <ul>
      <% sector.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= f.label :sector_type %>
        <%= f.text_field :sector_type %>
        <%= f.label :payable %>
        <%= f.check_box :payable %>
        <%= f.label :active %>
        <%= f.check_box :active %>
        <%= f.label :staff_in_charge %>
        <%= f.collection_select :user_ids, User.all, :id, :email, prompt: true %>
        <%= f.label :main_sector %>
        <%= f.collection_select :main_sector_id, MainSector.all, :id, :sector_name, prompt: true %>
    </div>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
