<% provide(:title, "Sector Index") %>
<p id="notice"><%= notice %></p>

<h1>Sectors</h1>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>ID</th>
      <th>Sector Type</th>
      <th>Men</th>
      <th>Women</th>
      <th>Staff In Charge</th>
      <!-- <th>Action</th> -->
    </tr>
  </thead>

  <tbody>
    <% @sectors.where(active: true).each do |sector| %>
      <tr>
        <td><%= link_to sector.id,edit_sector_path(sector.id) %></td>
        <td><%= sector.sector_type %></td>
        <td><%= sector.members.where(gender: true).count %></td>
        <td><%= sector.members.where(gender: false).count %></td>
        <td>
          <% sector.users.each do |user| %>
            <%= user.email %>,
          <% end %>
        </td>
         <!-- <td><% link_to 'Show', sector %>&nbsp;&nbsp;&nbsp;
            <% link_to 'Edit', edit_sector_path(sector) %>&nbsp;&nbsp;&nbsp;
            <% link_to 'Delete', sector, method: :delete, data: { confirm: 'Are you sure?' }, class: 'delete' %></td> -->

      </tr>
      <% end %>
      <tr>
        <td></td>
        <td style="text-align: right;"><b>Total<b></td>
        <td><%= Member.where(gender: true, sector: Sector.where(active: true).pluck(:id)).count %></td>
        <td><%= Member.where(gender: false, sector: Sector.where(active: true).pluck(:id)).count %></td>
        <td></td>
      </tr>
      <tr>
        <td></td>
        <td style="text-align: right;"><b>Grand Total<b></td>
        <td colspan = 2><center><b><%= @members.where(sector: Sector.where(active: true).pluck(:id)).count %><b><center></td>
        <td></td>
      </tr>
      <tr>
        <td colspan=6></td>
      </tr>
      <tr>
        <td>8</td> <!-- This is supposed to be sector_id for fall away -->
        <td>Cancelled</td>
        <td><%= Member.where(sector_id: 8, gender: true).count %></td>
        <td><%= Member.where(sector_id: 8, gender: false).count %></td>
        <td></td>
      </tr>
      <tr>
        <td>9</td> <!-- This is supposed to be sector_id for passed away -->
        <td>Passed Away</td>
        <td><%= Member.where(sector_id: 9, gender: true).count %></td>
        <td><%= Member.where(sector_id: 9, gender: false).count %></td>
        <td></td>
      </tr>
      <tr>
        <td>10</td> <!-- This is supposed to be sector_id for Move Out -->
        <td>Move Out</td>
        <td><%= Member.where(sector_id: 10, gender: true).count %></td>
        <td><%= Member.where(sector_id: 10, gender: false).count %></td>
        <td></td>
      </tr>
      <tr>
        <td colspan=5></td>
      </tr>
      <tr>
        <td>11</td> <!-- This is supposed to be sector_id for Move In -->
        <td>Move In</td>
        <td><%= Member.where(sector_id: 11, gender: true).count %></td>
        <td><%= Member.where(sector_id: 11, gender: false).count %></td>
        <td>*Must be 0</td>
      </tr>
      <tr>
        <td>12</td> <!-- This is supposed to be sector_id for Restoration -->
        <td>Restoration</td>
        <td><%= Member.where(sector_id: 12, gender: true).count %></td>
        <td><%= Member.where(sector_id: 12, gender: false).count %></td>
        <td>*Must be 0</td>
      </tr>
      <tr>
        <td>13</td> <!-- This is supposed to be sector_id for Baptism -->
        <td>Baptisms</td>
        <td><%= Member.where(sector_id: 13, gender: true).count %></td>
        <td><%= Member.where(sector_id: 13, gender: false).count %></td>
        <td>*Must be 0</td>
      </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Sector', new_sector_path, class: "btn btn btn-primary" , style: 'margin-top: 10px;' %>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
