<% provide(:title, "Sector Details") %>
<p id="notice"><%= notice %></p>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <thead class="cf">
    <tr>
      <th>Sector Type</th>
      <th>Staff In Charge</th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @sector.sector_type %></td>
        <td><%= @sector.user ? @sector.user.email : '' %></td>
      </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_sector_path(@sector) %> |
<%= link_to 'Back', sectors_path %>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
