<%= form_for(contribution_transaction) do |f| %>
  <% if contribution_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(contribution_transaction.errors.count, "error") %> prohibited this contribution_transaction from being saved:</h2>

      <ul>
      <% contribution_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-2  col-md-offset-4">
      <%= f.label :for_which_month %>
      <%= f.date_field :transaction_date %>
    </div>

    <div class="col-md-2">
      <%= f.label :bank_statement_date %>
      <%= f.date_field :bank_statement_date %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2  col-md-offset-4">
      <%= f.label "Fund Type" %>
      <%= f.select :fund_type, options_for_select(
            ContributionTransaction::FUND_TYPE, contribution_transaction.fund_type || 'contribution'
      ), {}, {class: "form-control" , required: true }  %>
    </div>

    <div class="col-md-2">
      <%= f.label "Bank Account" %>
      <%= f.select :bank_account, options_for_select(
            ContributionTransaction::BANK_ACCOUNT, contribution_transaction.bank_account || 'TPRI'
      ), {}, {class: "form-control" , required: true }  %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2  col-md-offset-3">
      <%= f.label :member_id %>
      <%= f.collection_select :member_id, Member.order('ic_name ASC'), :id, :ic_name, prompt: 'Select Members Name', include_blank: true %>
    </div>

    <div class="col-md-2">
      <%= f.label :receipt_to_id %>
      <%= f.collection_select :receipt_to_id, Member.order('ic_name ASC'), :id, :receipt_name, prompt: 'Select Members Name', :include_blank => true %>
    </div>

    <div class="col-md-2">
      <%= f.label :paid_by_id %>
      <%= f.collection_select :paid_by_id, Member.order('ic_name ASC'), :id, :ic_name, prompt: 'Select Members Name', include_blank: true %>
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-3  col-md-offset-3">
      Monthly Pledge: <span id="pledge_amount" />
    </div>
    <div class="col-md-3">
      Pledge percentage: <span id="pledge_percentage" />
    </div>
  </div>
  <br>

  <div class="row">
    <div class="col-md-4  col-md-offset-4">
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4  col-md-offset-4">
      <%= f.label :comment %>
      <%= f.text_field :comment %>
    </div>
  </div>


  <br>

  <div class="actions col-md-6 col-md-offset-3">
    <%= f.submit %>
  </div>
<% end %>


<script>
  $( "#contribution_transaction_member_id" ).select2({
    theme: "bootstrap"
  });
  $( "#contribution_transaction_receipt_to_id" ).select2({
    theme: "bootstrap"
  });
  $( "#contribution_transaction_paid_by_id" ).select2({
    theme: "bootstrap"
  });
  $('#contribution_transaction_member_id').change(function() {
    var selectedValue = $('#contribution_transaction_member_id').val();
    $('#contribution_transaction_receipt_to_id').val(selectedValue).trigger('change.select2');
    $('#contribution_transaction_paid_by_id').val(selectedValue).trigger('change.select2');
    $.get( "<%= pledge_amount_query_url %>?id=" + selectedValue, function( data ) {
      $('#pledge_amount').text(data.pledge_amount);
      // $('#pledge_amount').html(data.pledge_amount);
      // console.log( data );
    });
    $.get( "<%= pledge_amount_percentage_query_url %>?id=" + selectedValue, function( data ) {
      $('#pledge_percentage').text(data.pledge_percentage);
      // $('#pledge_amount').html(data.pledge_amount);
      console.log( data );
    });
    // $('#pledge_amount').value();
    // $('#pledge_percentage').value();
  });

  $('document').ready(function(){
    var selectedValue = $('#contribution_transaction_member_id').val();
    if (selectedValue) {
      $.get( "<%= pledge_amount_query_url %>?id=" + selectedValue, function( data ) {
        $('#pledge_amount').text(data.pledge_amount);
        // $('#pledge_amount').html(data.pledge_amount);
        // console.log( data );
      });
      $.get( "<%= pledge_amount_percentage_query_url %>?id=" + selectedValue, function( data ) {
        $('#pledge_percentage').text(data.pledge_percentage);
        // $('#pledge_amount').html(data.pledge_amount);
        // console.log( data );
      });
    }
  });
</script>
