<style>
  #container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }
</style>

<div id="<%= title.gsub(' ','-') %>"></div>
<script>
  <% groupedData = data.group_by{ |x| x.transaction_date.month }%>
  Highcharts.chart('<%= title.gsub(' ','-') %>', {
      credits: {
      enabled: false
    },

      chart: {
          zoomType: 'xy'
      },
      title: {
          text: '<%= title %>'
      },
      subtitle: {
          text: 'Source: Pledged VS Actual'
      },
      xAxis: [{
          categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun',
              'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],
          crosshair: true
      }],
      yAxis: [{ // Primary yAxis
          labels: {
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
          },
          title: {
              text: 'Amount (RM)',
              style: {
                  color: Highcharts.getOptions().colors[1]
              }
          }
      }],
      tooltip: {
          shared: true
      },
      legend: {
          layout: 'horizontal',
          align: 'center',
          verticalAlign: 'bottom',
          floating: false,
          backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
      },
      series: [{
          name: 'Actual',
          type: 'column',
          data: <%= [
              groupedData[1] && groupedData[1].pluck(:amount).sum || 0,
              groupedData[2] && groupedData[2].pluck(:amount).sum || 0,
              groupedData[3] && groupedData[3].pluck(:amount).sum || 0,
              groupedData[4] && groupedData[4].pluck(:amount).sum || 0,
              groupedData[5] && groupedData[5].pluck(:amount).sum || 0,
              groupedData[6] && groupedData[6].pluck(:amount).sum || 0,
              groupedData[7] && groupedData[7].pluck(:amount).sum || 0,
              groupedData[8] && groupedData[8].pluck(:amount).sum || 0,
              groupedData[9] && groupedData[9].pluck(:amount).sum || 0,
              groupedData[10] && groupedData[10].pluck(:amount).sum || 0,
              groupedData[11] && groupedData[11].pluck(:amount).sum || 0,
              groupedData[12] && groupedData[12].pluck(:amount).sum || 0,
              ] %>,
          color: '#<%= "%06x" % (rand * 0xffffff) %>',
          tooltip: {
              valuePrefix: 'RM '
          }

      }, {
          name: 'Pledged',
          type: 'spline',
          data: <%= Array.new(12, pledges) %>,
          color: 'black',
          tooltip: {
              valuePrefix: 'RM '
          }
      }]
  });
</script>
