<style>
  #container {
    min-width: 310px;
    max-width: 800px;
    height: 400px;
    margin: 0 auto
  }
</style>

<div id="<%= title.gsub(' ','-') %>"></div>
<% graph_pledges_hash = graph_pledges_hash.sort.to_h %>
<script>
  Highcharts.chart('<%= title.gsub(' ','-') %>', {
      credits: {
      enabled: false
    },

      chart: {
          type: 'column'
      },
      title: {
          text: '<%= title.gsub(' ',' ') %>'
      },
      xAxis: {
          categories: <%= graph_pledges_hash.keys %>,
          crosshair: true
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Amount (RM)'
          }
      },
      tooltip: {
          headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
          pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
              '<td style="padding:0"><b>RM {point.y:.2f}</b></td></tr>',
          footerFormat: '</table>',
          shared: true,
          useHTML: true
      },
      plotOptions: {
          column: {
              pointPadding: 0.2,
              borderWidth: 0
          }
      },
      series: [{
          name: 'Amount',
          data: <%= graph_pledges_hash.values.map{ |item| item.pluck(:amount).inject(0, :+) } %>,
          color: '#<%= "%06x" % (rand * 0xffffff) %>'

      }]
  });
</script>
