<style>
  #<%= title.gsub(' ','-') %> {
   min-width: 310px; height: 400px; margin: 0 auto
  }
</style>

<div id="<%= title.gsub(' ','-') %>"></div>

<script>

Highcharts.chart('<%= title.gsub(' ','-') %>', {
    credits: {
      enabled: false
    },
    chart: {
        type: 'line'
    },
    title: {
        text: '<%= title %>'
    },
    subtitle: {
        text: 'Source: CCCOM'
    },
    xAxis: {
        categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
    },
    yAxis: {
        title: {
            text: 'Amount (RM)'
        }
    },
    plotOptions: {
        line: {
            dataLabels: {
                enabled: false
            },
            enableMouseTracking: true
        }
    },
    series: [{
        name: 'Youth & Family',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'Youth & Family']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'Youth & Family']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'Youth & Family']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'Youth & Family']] || 0 %> ]
    }, {
        name: 'Souled Out Singles',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'Souled Out Singles']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'Souled Out Singles']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'Souled Out Singles']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'Souled Out Singles']] || 0 %> ]
    }, {
        name: 'Professional',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'Professional']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'Professional']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'Professional']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'Professional']] || 0 %> ]
    }, {
        name: 'Campus',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'Campus']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'Campus']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'Campus']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'Campus']] || 0 %> ]
    }, {
        name: 'CHI',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'CHI']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'CHI']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'CHI']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'CHI']] || 0 %> ]
    },{
        name: 'Gym',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'Gym']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'Gym']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'Gym']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'Gym']] || 0 %> ]
    }, {
        name: 'YP & Eunice',
        data: [<%= graph_contribution_transaction_month2_hash[[1, 'YP & Eunice']] || 0 %>,
        <%= graph_contribution_transaction_month2_hash[[2, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[3, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[4, 'YP & Eunice']] || 0 %>,<%= graph_contribution_transaction_month2_hash[[5, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[6, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[7, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[8, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[9, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[10, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[11, 'YP & Eunice']] || 0 %>, <%= graph_contribution_transaction_month2_hash[[12, 'YP & Eunice']] || 0 %> ]
    }]
});
</script>
