<% provide(:title, "Bank Account Summary") %>
<p id="notice"><%= notice %></p>

<h1> Bank Account Summary </h1>

<%= form_tag(contribution_transactions_bank_summary_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
      <div class="col-md-2">
      <%= submit_tag "Filter", id: 'searchBtn', class: "btn filter btn-info" %>
      </div>
    </div>


  </div>
<% end %>
<br>
<h3 class="row text-left"> Monthly Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total Monthly Contribution </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@tpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@cccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding = ( @tpri[index] + @cccom[index] ) %>
            <%=  number_to_currency(@outstanding , precision: 2, unit: "")  %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <b>Total</b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@tpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@tpri.sum() + @cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Building Fund Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total Building Contribution </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingtpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingcccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding11 = ( @buildingtpri[index] + @buildingcccom[index] ) %>
            <%=  number_to_currency(@outstanding11 , precision: 2, unit: "")  %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td> <b>Total</b> </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingtpri.sum() + @buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Special Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total Special Contribution </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialtpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialcccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding5 = ( @specialtpri[index] + @specialcccom[index] ) %>
            <%=  number_to_currency(@outstanding5 , precision: 2, unit: "")  %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td> <b>Total</b> </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@specialtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@specialcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <% @specialsum = (@specialcccom.sum() + @specialtpri.sum()) %>
          <b><%=  number_to_currency(@specialSum , precision: 2, unit: "")  %></b>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<h3 class="row text-left"> Grand Total </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td class="row text-center">  </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <b>Total</b> </td>
        <td class="row text-center">
        <% @grandtotaltpri = (@specialtpri.sum() + @buildingtpri.sum() + @tpri.sum()) %>
          <b><%=  number_to_currency(@grandtotaltpri , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-center">
        <% @grandtotalcccom = (@specialcccom.sum() + @buildingcccom.sum() + @cccom.sum()) %>
          <b><%=  number_to_currency(@grandtotalcccom , precision: 2, unit: "")  %></b>
        </td>
      </tr>

    </tbody>
  </table>
</div>

<h3 class="row text-left"> No Bank In Slips </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
      </tr>
    </thead>
    <tbody>
      <% @noslips.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @noslips[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@tprinoslip[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@cccomnoslip[index] , precision: 2, unit: "")  %>
          </td>
        </tr>
      <% end %>
      <tr>
        <td>
          <b>Total</b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@tprinoslip.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@cccomnoslip.sum() , precision: 2, unit: "")  %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Grand Total Including No Bank In Slips </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td class="row text-center">  </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> <b>Total</b> </td>
        <td class="row text-center">
        <% @grandtotaltprinoslip = (@specialtpri.sum() + @buildingtpri.sum() + @tpri.sum() + @tprinoslip.sum()) %>
          <b><%=  number_to_currency(@grandtotaltprinoslip , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-center">
        <% @grandtotalcccomnoslip = (@specialcccom.sum() + @buildingcccom.sum() + @cccom.sum() + @cccomnoslip.sum()) %>
          <b><%=  number_to_currency(@grandtotalcccomnoslip , precision: 2, unit: "")  %></b>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<script>
  $("#select_month").datepicker( {
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
      orientation: "bottom"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');

</script>
