<% provide(:title, "Edit Contribution") %>
<div><%= notice %></div>
<h1>Editing Contribution Transaction</h1>

<div class="row">
<%= render 'form', contribution_transaction: @contribution_transaction %>
</div>

<div class="row center">
<%= link_to 'Show', @contribution_transaction %> |
<%= link_to 'Back', contribution_transactions_member_path %>
</div>
