<% provide(:title, "Contribution Transactions List") %>

<p id="notice"><%= notice %></p>

<%= form_tag(contribution_transactions_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <%= text_field_tag :paid_by, params[:paid_by], placeholder: "Search Paid By", id: 'search_field' %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :name, params[:name], placeholder: "Search Member", id: 'search_field' %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :month, params[:month], placeholder: "Search For Which Month", id: 'select_month' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-2">
        <%= text_field_tag :bank_statement, params[:bank_statement], placeholder: "Search Bank Statement Date", id: 'select_bank' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3  col-md-offset-2">
        <%= select_tag :bank,options_for_select(
          ContributionTransaction::BANK_ACCOUNT, params[:bank] || ''
        ), {class: "form-control" , prompt: 'Bank Account'}  %>

      </div>
      <div class="col-md-3">
        <%= select_tag :fund_type,options_for_select(
          ContributionTransaction::FUND_TYPE, params[:fund_type] || ''
        ), {class: "form-control" , prompt: 'Fund Type'}  %>
      </div>

      <div class="col-md-3">
        <%= select_tag :sector, options_for_select(Sector.options_for_select_type, params[:sector]),
         {class: "form-control" , prompt: 'Fund Type', include_blank: true, id: 'select_sector', prompt: 'Filter Sector' }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-5 col-md-offset-4">
        <div class="col-md-3">
          <%= submit_tag "Filter", id: 'searchBtn',  class: 'btn filter btn-info' %>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Lock", id: 'searchBtn',  class: 'btn filter btn-danger', name: 'lock' %>
        </div>
        <div class="col-md-3">
          <%= submit_tag "Unlock", id: 'searchBtn',  class: 'btn filter btn-danger', name: 'unlock', data: { confirm: 'Be CAREFUL with printed TPRI Receipts!!' } %>
        </div>
      </div>
    </div>
  </div>
<% end %>


<h1>Contribution Transactions List</h1>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path(name: params[:name], bank: params[:bank],
      month: params[:month], fund_type: params[:fund_type]), class: 'btn btn-primary' %> &nbsp;
<%= link_to 'Download CSV', contribution_transactions_path(format: 'csv', name: params[:name], bank: params[:bank], month: params[:month], fund_type: params[:fund_type], paid_by: params[:paid_by], sector: params[:sector]), class: 'btn btn btn-primary' %> <br> <br>
<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
    <thead>
      <tr>
        <th>Paid By</th>
        <th>Member</th>
        <th>For which Month?</th>
        <th>Bank statement date</th>
        <th>Bank Account</th>
        <th>Fund Type</th>
        <th>Amount</th>
        <th>Comment</th>
        <th>Created At</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @contribution_transactions.each do |contribution_transaction| %>
        <tr>
          <td><%= contribution_transaction.paid_by.common_name %></td>
          <td><%= contribution_transaction.member.common_name %></td>
          <td><%= contribution_transaction.transaction_date.strftime("%B") %></td>
          <td><%= contribution_transaction.bank_statement_date.strftime("%d/%m/%Y") %></td>
          <td><%= contribution_transaction.bank_account %></td>
          <td><%= ContributionTransaction::FUND_TYPE_NAME[contribution_transaction.fund_type] %></td>
          <td><%= '%.2f' % contribution_transaction.amount %></td>
          <td><%= contribution_transaction.comment %></td>
          <td>
            <%= form_for(contribution_transaction) do |f| %>
                <div class="col-md-6" style="display: block; valign: middle;">
                  <%= f.datetime_field :created_at %>
                </div>

              <div class="actions" style="display: inline-block; valign: middle;">
              <%= f.submit "Update" %>
            <% end %>
          </td>
          <td><%= link_to 'Show', contribution_transaction %> ||
              <%= link_to contribution_transaction.editable ? "Edit" : "View", edit_contribution_transaction_path(contribution_transaction) %> ||
              <%= link_to 'Destroy', contribution_transaction, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } if contribution_transaction.editable %>
              <% unless contribution_transaction.editable %>
                <i class="fas fa-lock"></i>
              <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= will_paginate @contribution_transactions %>



<script>
$("#select_month").datepicker( {
    format: "mm/yyyy",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});
$("#select_bank").datepicker( {
    format: "mm/yyyy",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
