<p id="notice"><%= notice %></p>

<%= form_tag(contribution_transactions_member_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <%= date_field_tag :month, params[:month], id: 'select_month' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :condition, options_for_select(
          [['Select Status', ''], ['No Records', 'no_pay'], ['Late Givers', 'late_pay']], params[:condition] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :fund_type, options_for_select(
          ContributionTransaction::FUND_TYPE, params[:fund_type] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;' %>
      </div>
    </div>
  </div>
<% end %>

<h1>Member's Contribution Report</h1>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path %> &nbsp; || &nbsp;
<%= link_to ' Contribution Transaction', contribution_transactions_path %> &nbsp; || &nbsp;
<%= link_to 'Pledges', pledges_path %>
<br>
<div id="no-more-tables">
<table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
  <thead>
    <tr>
      <th rowspan="3" style="text-align:center;">No.</th>
      <th rowspan="3" style="text-align:left;">Name</th>
      <th rowspan="3">Sector</th>
      <th rowspan="2" colspan="2" style="text-align:center;">Pledged Amount</th>
      <th colspan="4" style="text-align:center;">January</th>
      <th colspan="4" style="text-align:center;">February</th>
      <th colspan="4" style="text-align:center;">March</th>
      <th colspan="4" style="text-align:center;">April</th>
      <th colspan="4" style="text-align:center;">May</th>
      <th colspan="4" style="text-align:center;">June</th>
      <th colspan="4" style="text-align:center;">July</th>
      <th colspan="4" style="text-align:center;">August</th>
      <th colspan="4" style="text-align:center;">September</th>
      <th colspan="4" style="text-align:center;">October</th>
      <th colspan="4" style="text-align:center;">November</th>
      <th colspan="4" style="text-align:center;">December</th>
      <th colspan="4" style="text-align:center;">Total</th>
      <th rowspan="3" style="text-align:center;"></th>
      <th rowspan="2" colspan="4" style="text-align:center;">Special Contribution</th>
    </tr>
    <tr>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
    </tr>
    <tr>
      <!-- <th colspan="3">  </th> -->
      <th style="text-align:center;"> Contribution </th>
      <th style="text-align:center;"> Building Fund </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> Pledged </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> Outstanding </th>
    </tr>
  </thead>

  <tbody>
    <% @year = (params[:year] && !params[:year].empty) ? params[:year].to_s : Date.today.year.to_s %>
    <% @members.each_with_index do |member, index| %>
      <tr>
        <td> <%= @members.offset + index + 1 %></td>
        <td> <%= member.common_name %> </td>
        <td> <%= member.sector ? member.sector.sector_type : '' %> </td>
        <td style="text-align:center;"> <%= '%.2f' % member.pledges.query_by_year('1/12/2017').pluck(:amount).sum %> </td>
        <td style="text-align:center;"> <%= '%.2f' % member.pledges.query_by_year('1/12/2017').pluck(:building_fund_pledge).sum %> </td>
        <td>
          <!-- Contribution TPRI -->
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <!-- Contribution CCCOM -->
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <!-- Building Fund TPRI -->
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <!-- Building Fund CCCOM -->
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/2/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/2/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/2/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/2/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/3/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/3/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/3/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/3/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/4/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/4/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/4/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/4/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/5/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/5/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/5/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/5/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
          <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/6/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/6/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/6/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/6/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/7/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/7/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/7/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/7/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/8/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/8/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/8/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/8/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/9/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/9/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/9/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/9/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/10/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/10/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/10/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/10/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/11/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/11/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/11/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/11/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "contribution", bank: "TPRI") do %>
            <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
            <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "building_fund", bank: "TPRI") do %>
            <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "building_fund", bank: "CCCOM") do %>
            <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
        </td>
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
        </td>
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
        </td>
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
        </td>
        <td>
        </td>
        <td style="text-align:center;"> <%= '%.2f' % member.pledges.query_by_year('1/12/2017').pluck(:special_contribution_pledge).sum %> </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "special_contribution", bank: "TPRI") do %>
            <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/12/' + @year), fund_type: "special_contribution", bank: "CCCOM") do %>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% end %>
        </td>
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <% @outstanding = (
          '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum +
          '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum) -
          member.pledges.query_by_year('1/12/2017').pluck(:special_contribution_pledge).sum


          # Backup
          <% @outstanding = (@range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum +
          @range = (("1/12/"+@year).to_date.beginning_of_year..("1/12/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "CCCOM" && x.fund_type == "special_contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum) -
          member.pledges.query_by_year('1/12/2017').pluck(:special_contribution_pledge).sum
          %>
          <span style="<%= @outstanding >= 0 ? '' : 'color:red;' %>"><%= '%.2f' % (@outstanding) %></span>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @members %>

<br>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path %>
