<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<%= form_tag(my_contribution_transactions_member_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :condition, options_for_select(
          [['Select Status', ''], ['No Records', 'no_pay'], ['Late Givers', 'late_pay']], params[:condition] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :fund_type, options_for_select(
          ContributionTransaction::FUND_TYPE, params[:fund_type] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;' %>
      </div>
    </div>
  </div>
<% end %>

<h1>Sector Contribution Report</h1>
<% link_to 'Download CSV', my_contribution_transactions_member_path(format: 'csv', name: params[:name], month: params[:month], condition: params[:condition], fund_type: params[:fund_type]) %>
<div style="display: flex; justify-content: space-around; align-items:center;">
  <div style="display: flex; justfy-content: center; align-items: center; flex-direction: column;"><div class="late"></div>Late</div>
  <div style="display: flex; justfy-content: center; align-items: center; flex-direction: column;"><div class="late-but-less"></div>Late And Less</div>
  <div style="display: flex; justfy-content: center; align-items: center; flex-direction: column;"><div class="on-time"></div>On Time</div>
  <div style="display: flex; justfy-content: center; align-items: center; flex-direction: column;"><div class="on-time-but-less"></div>On Time But Less</div>
</div>
<br>
<div id="no-more-tables">
<table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
  <thead>
    <tr>
      <th rowspan="3" style="text-align:center;">No.</th>
      <th rowspan="3" style="text-align:left;">Name</th>
      <th rowspan="3">Sector</th>
      <th colspan="2" style="text-align:center;">January</th>
      <th colspan="2" style="text-align:center;">February</th>
      <th colspan="2" style="text-align:center;">March</th>
      <th colspan="2" style="text-align:center;">April</th>
      <th colspan="2" style="text-align:center;">May</th>
      <th colspan="2" style="text-align:center;">June</th>
      <th colspan="2" style="text-align:center;">July</th>
      <th colspan="2" style="text-align:center;">August</th>
      <th colspan="2" style="text-align:center;">September</th>
      <th colspan="2" style="text-align:center;">October</th>
      <th colspan="2" style="text-align:center;">November</th>
      <th colspan="2" style="text-align:center;">December</th>
    </tr>
    <tr>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>
      <th> Contribution </th>
      <th> Building Fund </th>

    </tr>

  </thead>

  <tbody>
    <% @year = (params[:year] && !params[:year].empty) ? params[:year].to_s : Date.today.year.to_s %>
    <% @members.select{|x| x.sector.active}.each_with_index do |member, index| %>
      <% month = Date.today %>
      <% year_range = (month.to_date.beginning_of_year..month.to_date.end_of_year) %>
      <% member_pledged = member.pledges.select{ |x| year_range.cover?x.year }.length > 0 %>
      <tr>
        <td> <%= @members.offset + index + 1 %></td>
        <td> <span style="<%= member_pledged ? "" : "color: red;" %>"><%= member.common_name %></span> </td>
        <td> <%= member.sector ? member.sector.sector_type : '' %> </td>
        <!-- Jan -->
        <td>
          <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
              <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/2/"+@year).to_date.beginning_of_month..("1/2/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/3/"+@year).to_date.beginning_of_month..("1/3/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/4/"+@year).to_date.beginning_of_month..("1/4/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/5/"+@year).to_date.beginning_of_month..("1/5/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/6/"+@year).to_date.beginning_of_month..("1/6/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/7/"+@year).to_date.beginning_of_month..("1/7/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/8/"+@year).to_date.beginning_of_month..("1/8/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/9/"+@year).to_date.beginning_of_month..("1/9/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/10/"+@year).to_date.beginning_of_month..("1/10/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/11/"+@year).to_date.beginning_of_month..("1/11/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
        <!-- Jan -->
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "contribution"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.amount > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>

          <!-- Building Fund TPRI -->
        <td>
          <% @range = (("1/12/"+@year).to_date.beginning_of_month..("1/12/"+@year).to_date.end_of_month) %>
          <% amount = member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>
          <% if amount > 0 %>
            <% if member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.bank_statement_date.to_date > member.contribution_transactions.select{ |x| x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.first.transaction_date.end_of_month.to_date %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="late-but-less"></div>
              <% else %>
              <div class="late"></div>
              <% end %>
            <% else %>
              <% if member.pledges.last && member.pledges.last.building_fund_pledge > amount %>
              <div class="on-time-but-less"></div>
              <% else %>
              <div class="on-time"></div>
              <% end %>
            <% end %>
          <% else %>
            <div class="no-record"></div>
          <% end %>
        </td>
        <!-- Jan -->
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @members %>

<br>

<% link_to 'New Contribution Transaction', new_contribution_transaction_path %>

<script>
$("#select_month").datepicker( {
    format: "mm/yyyy",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
