<p id="notice"><%= notice %></p>

<%= form_tag(contribution_transactions_member_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3 col-md-offset-4">
        <%= date_field_tag :month, params[:month], id: 'select_month' %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :condition, options_for_select(
          [['Select Status', ''], ['No Records', 'no_pay'], ['Late Givers', 'late_pay']], params[:condition] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <%= select_tag :fund_type, options_for_select(
          ContributionTransaction::FUND_TYPE, params[:fund_type] || ''
        ), {class: "form-control" }  %>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-3 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;' %>
      </div>
    </div>
  </div>
<% end %>

<h1>Member's Contribution Report</h1>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path %> &nbsp; || &nbsp;
<%= link_to ' Contribution Transaction', contribution_transactions_path %> &nbsp; || &nbsp;
<%= link_to 'Pledges', pledges_path %>
<br>
<div id="no-more-tables">
<table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
  <thead>
    <tr>
      <th rowspan="3" style="text-align:center;">No.</th>
      <th rowspan="3" style="text-align:left;">Name</th>
      <th rowspan="3">Sector</th>
      <th rowspan="2" colspan="2" style="text-align:center;">Pledged Amount</th>
      <th colspan="4" style="text-align:center;">January</th>
      <th colspan="4" style="text-align:center;">February</th>
      <th colspan="4" style="text-align:center;">March</th>
      <th colspan="4" style="text-align:center;">April</th>
      <th colspan="4" style="text-align:center;">May</th>
      <th colspan="4" style="text-align:center;">June</th>
      <th colspan="4" style="text-align:center;">July</th>
      <th colspan="4" style="text-align:center;">August</th>
      <th colspan="4" style="text-align:center;">September</th>
      <th colspan="4" style="text-align:center;">October</th>
      <th colspan="4" style="text-align:center;">November</th>
      <th colspan="4" style="text-align:center;">December</th>
      <th colspan="4" style="text-align:center;">Total</th>
      <th rowspan="3" style="text-align:center;"></th>
      <th rowspan="2" colspan="4" style="text-align:center;">Special Contribution</th>
    </tr>
    <tr>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
      <th colspan="2"> Contribution </th>
      <th colspan="2"> Building Fund </th>
    </tr>
    <tr>
      <!-- <th colspan="3">  </th> -->
      <th style="text-align:center;"> Contribution </th>
      <th style="text-align:center;"> Building Fund </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> Pledged </th>
      <th style="text-align:center;"> TPRI </th>
      <th style="text-align:center;"> CCCOM </th>
      <th style="text-align:center;"> Outstanding </th>
    </tr>
  </thead>

  <tbody>
    <% @year = (params[:year] && !params[:year].empty) ? params[:year].to_s : Date.today.year.to_s %>
    <% @members.each_with_index do |member, index| %>
      <tr>
        <td> <%= @members.offset + index + 1 %></td>
        <td> <%= member.common_name %> </td>
        <td> <%= member.sector ? member.sector.sector_type : '' %> </td>
        <td style="text-align:center;">

          <% @range = (("1/1/"+@year).to_date.beginning_of_year..("1/1/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.pledges.select{ |x|                   @range.cover?x.year}.pluck(:amount).sum %>
        </td>
        <td style="text-align:center;">

          <% @range = (("1/1/"+@year).to_date.beginning_of_year..("1/1/"+@year).to_date.end_of_year) %>
          <%= '%.2f' % member.pledges.select{ |x|                   @range.cover?x.year}.pluck(:building_fund_pledge).sum %>
        </td>


        <td>

          <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "contribution", bank: "TPRI") do %>

            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.reject{ |x| (x.fund_type == "building_fund" || x.fund_type == "special_contribution")}.select{ |x| x.bank_account == "TPRI"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>

            <% @range = (("1/1/"+@year).to_date.beginning_of_month..("1/1/"+@year).to_date.end_of_month) %>
            <%= '%.2f' % member.contribution_transactions.select{ |x| x.bank_account == "TPRI" && x.fund_type == "building_fund"}.select{ |x| @range.cover?x.transaction_date}.pluck(:amount).sum %>


          <% end %>
        </td>



        <%= link_to contribution_transactions_path(name: member.common_name, month: ('1/1/' + @year), fund_type: "contribution", bank: "CCCOM") do %>
          <%= '%.2f' % member.contribution_transactions.where.not(fund_type: "building_fund", fund_type: "special_contribution").where(bank_account: "CCCOM").query_by_month('1/1/2017').pluck(:amount).sum %>
        <% end %>



      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= will_paginate @members %>

<br>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path %>
