<% provide(:title, "New Contribution") %>
<h1>New Contribution Transaction</h1>
<div class="row">
  <%= render 'form', contribution_transaction: @contribution_transaction %>
</div>
<div class="row center">
<%= link_to 'Back', contribution_transactions_path %>
</div>
