<% provide(:title, "View Contribution") %>
<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-md-4  col-md-offset-0">
    <p>
      <strong>For Which Month?</strong>
      <%= @contribution_transaction.transaction_date.strftime("%B") %>
    </p>

    <p>
      <strong>Bank statement date:</strong>
      <%= @contribution_transaction.bank_statement_date.strftime("%d/%m/%Y") %>
    </p>

    <p>
      <strong>Fund Type:</strong>
      <%= @contribution_transaction.fund_type %>
    </p>

    <p>
      <strong>Bank Account:</strong>
      <%= @contribution_transaction.bank_account %>
    </p>

    <p>
      <strong>Amount:</strong>
      <%= '%.2f' % @contribution_transaction.amount %>
    </p>

    <p>
      <strong>Comment:</strong>
      <%= @contribution_transaction.comment %>
    </p>

    <p>
      <strong>Member:</strong>
      <%= @contribution_transaction.member.common_name %>
    </p>

    <%= link_to 'Create another transaction', new_contribution_transaction_path(name: @contribution_transaction.member.common_name) %> |
    <% edit = 'Edit' if @contribution_transaction.editable  %>
    <% edit = 'View' unless @contribution_transaction.editable  %>
    <%= link_to edit, edit_contribution_transaction_path(@contribution_transaction) %> |
    <%= link_to 'Back', contribution_transactions_path %>
  </div>

  <div class="col-md-7" style="margin-top:30px">
    <%= render 'member_group_table', member: @contribution_transaction.member %>
  </div>
</div>

<script>

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
