<% provide(:title, "Contribution Summary") %>
<p id="notice"><%= notice %></p>


<h1> Monthly Contribution Summary </h1>


<%= form_tag(contribution_transactions_summary4_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-md-offset-5" style='width: 10%;'>
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>


<%= link_to 'Cumulative Summary', contribution_transactions_summary_path, class: 'btn btn btn-primary' %> &nbsp;
<% link_to 'View Graphs', contribution_transactions_summary2_path, class: 'btn btn btn-primary' %>


<h3 class="row text-left"> Monthly Contribution Summary </h3>
<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> M.C. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total M.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given </td>
        <td class="row text-center"> Non Givers </td>
      </tr>
    </thead>
    <tbody>
      <% grandTotalPledged = 0 %>
      <% grandTotalTpri = 0 %>
      <% grandTotalCCCOM = 0 %>
      <% grandTotalOutstanding = 0 %>
      <% grandTotalNonGivers = 0 %>
      <% @main_sectors.each do |main_sector| %>
        <% myPledge = 0 %>
        <% myTpriAmount = 0 %>
        <% myCCCOMAmount = 0 %>
        <% myOutstanding = 0 %>
        <% myNonGivers = 0 %>
        <% main_sector.sectors.each do |sector| %>
          <% myPledge += ((@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.pluck(:amount).sum) || 0)  %>
          <% myTpriAmount += (@tpriAmountTotal[sector.id] || 0) %>
          <% myCCCOMAmount += (@cccomAmountTotal[sector.id] || 0) %>
          <% myOutstanding += (@pledges_not_given_ct[sector.id] && @pledges_not_given_ct[sector.id].reject{|p| p.member.on_behalf}.pluck(:amount).sum || 0) %>
          <% myNonGivers += (@non_givers_ct[sector.id] && @non_givers_ct[sector.id].reject{|p| p.on_behalf}.count || 0) %>
        <% end %>
        <% grandTotalPledged += myPledge %>
        <% grandTotalTpri += myTpriAmount %>
        <% grandTotalCCCOM += myCCCOMAmount %>
        <% grandTotalOutstanding += myOutstanding %>
        <% grandTotalNonGivers += myNonGivers %>
        <tr>
          <td style ="font-size:15px">
            <b><%= main_sector.sector_name %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><%=  number_to_currency(myPledge , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myTpriAmount, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myCCCOMAmount, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
              <% @totalMonthlyCon = ( (myTpriAmount || 0) + (myCCCOMAmount || 0) ) %>
              <b><%=  number_to_currency(@totalMonthlyCon , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px; <%= myOutstanding <= 0 ? '' : 'color: red;' %>">
            <b><%=  number_to_currency(-myOutstanding , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <% myPercentage = ((myPledge-myOutstanding)/(if myPledge==0 then 1 else myPledge end))* 100 %>
            <b><%=  '%.2f' %  myPercentage %>%</b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><%= myNonGivers %></b>
          </td>
        </tr>
        <% main_sector.sectors.each do |sector| %>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <% @pledged = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender }.pluck(:amount).sum || 0) %>
            <%=  number_to_currency(@pledged , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriAmountMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomAmountMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalMonthlyConMale = ( (@tpriAmountMale[sector.id] || 0) + (@cccomAmountMale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalMonthlyConMale , precision: 2, unit: "")  %>
          </td>
            <% @outstanding = (@pledges_not_given_ct[sector.id] && @pledges_not_given_ct[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender }.pluck(:amount).sum || 0) %>
          <td class="row text-right" style="<%= @outstanding <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@outstanding , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @percentage_given = ((@pledged-@outstanding)/(if @pledged==0 then 1 else @pledged end))* 100 %>
            <%=  '%.2f' %  @percentage_given %>%
          </td>
          <td class="row text-right">
            <% @nongiver = (@non_givers_ct[sector.id] && @non_givers_ct[sector.id].reject{|p| p.on_behalf}.select{|p| p.gender }.count || 0) %>
            <%= @nongiver %>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <% @pledged = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender }.pluck(:amount).sum || 0) %>
            <%=  number_to_currency(@pledged , precision: 2, unit: "")  %>

          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriAmountFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomAmountFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalMonthlyConFemale = ( (@tpriAmountFemale[sector.id] || 0) + (@cccomAmountFemale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalMonthlyConFemale , precision: 2, unit: "")  %>
          </td>
            <% @outstanding = (@pledges_not_given_ct[sector.id] && @pledges_not_given_ct[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender }.pluck(:amount).sum || 0) %>
          <td class="row text-right" style="<%= @outstanding <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@outstanding , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @percentage_given = ((@pledged-@outstanding)/(if @pledged==0 then 1 else @pledged end))* 100 %>
            <%=  '%.2f' %  @percentage_given %>%
          </td>
          <td class="row text-right">
            <% @nongiver = (@non_givers_ct[sector.id] && @non_givers_ct[sector.id].reject{|p| p.on_behalf}.select{|p| !p.gender }.count || 0) %>
            <%= @nongiver %>
          </td>
        </tr>
        <% end %>
      <% end %>
        <tr>
          <td style ="font-size:20px">
            <b>Grand Total</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalPledged , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalTpri , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalCCCOM , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><% grandTotal = grandTotalTpri + grandTotalCCCOM %></b>
            <b><%= number_to_currency(grandTotal , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px; <%= grandTotalOutstanding <= 0 ? '' : 'color: red;' %>">
            <b><%= number_to_currency(-grandTotalOutstanding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <% myPercentage = ((grandTotalPledged-grandTotalOutstanding)/(if grandTotalPledged==0 then 1 else grandTotalPledged end))* 100 %>
            <b><%=  '%.2f' %  myPercentage %>%</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= grandTotalNonGivers %></b>
          </td>
        </tr>
    </tbody>
  </table>
</div>


<h3 class="row text-left"> Building Fund Summary </h3>
<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> B.F. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total B.F. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given </td>
        <td class="row text-center"> Non Givers </td>
      </tr>
    </thead>
    <tbody>
      <% grandTotalPledgedBuilding = 0 %>
      <% grandTotalTpriBuilding = 0 %>
      <% grandTotalCCCOMBuilding = 0 %>
      <% grandTotalOutstandingBuilding = 0 %>
      <% grandTotalNonGiversBuilding = 0 %>

      <% @main_sectors.each do |main_sector| %>
        <% myBuildingPledge = 0 %>
        <% myBuildingOutstanding = 0 %>
        <% myBuildingNonGivers = 0 %>
        <% myTpriBuilding = 0 %>
        <% myCCCOMBuilding = 0 %>
        <% myNonGiversBuilding = 0 %>
        <% main_sector.sectors.each do |sector| %>
          <% myBuildingPledge += ((@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.pluck(:building_fund_pledge).sum) || 0)  %>
          <% myTpriBuilding += (@tpriBuildingTotal[sector.id] || 0) %>
          <% myCCCOMBuilding += (@cccomBuildingTotal[sector.id] || 0) %>
          <% myBuildingOutstanding += (@pledges_not_given_bf[sector.id] && @pledges_not_given_bf[sector.id].reject{|p| p.member.on_behalf}.pluck(:building_fund_pledge).sum || 0) %>
          <% myNonGiversBuilding += (@non_givers_bf[sector.id] && @non_givers_bf[sector.id].reject{|p| p.on_behalf}.count || 0) %>
        <% end %>
        <% grandTotalPledgedBuilding += myBuildingPledge %>
        <% grandTotalTpriBuilding += myTpriBuilding %>
        <% grandTotalCCCOMBuilding += myCCCOMBuilding %>
        <% grandTotalOutstandingBuilding += myBuildingOutstanding %>
        <% grandTotalNonGiversBuilding += myNonGiversBuilding %>
        <tr>
          <td style ="font-size:15px">
            <b><%= main_sector.sector_name %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><%=  number_to_currency(myBuildingPledge , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myTpriBuilding, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myCCCOMBuilding, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
              <% @totalBuildingFund = ( (myTpriBuilding || 0) + (myCCCOMBuilding || 0) ) %>
              <b><%=  number_to_currency(@totalBuildingFund , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px; <%= myBuildingOutstanding <= 0 ? '' : 'color: red;' %>">
            <b><%= number_to_currency(-myBuildingOutstanding, precision:2, unit: "")  %></b
          </td>
          <td class="row text-right" style ="font-size:15px">
            <% myPercentageBuilding = ((myBuildingPledge-myBuildingOutstanding)/(if myBuildingPledge==0 then 1 else myBuildingPledge end))* 100 %>
            <b><%=  '%.2f' %  myPercentageBuilding %>%</b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><%= myNonGiversBuilding %></b>
          </td>
        </tr>

        <% main_sector.sectors.each do |sector| %>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <% @pledgedBuilding = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender }.pluck(:building_fund_pledge).sum || 0) %>
            <%=  number_to_currency(@pledgedBuilding , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriBuildingMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomBuildingMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalBuildingConMale = ( (@tpriBuildingMale[sector.id] || 0) + (@cccomBuildingMale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalBuildingConMale , precision: 2, unit: "")  %>
          </td>
            <% @outstandingBuilding = (@pledges_not_given_bf[sector.id] && @pledges_not_given_bf[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender }.pluck(:building_fund_pledge).sum || 0) %>
          <td class="row text-right" style =" <%= @outstandingBuilding <= 0 ? '' : 'color: red;' %>">
            <%= number_to_currency(-@outstandingBuilding , precision: 2, unit: "") %>
          </td>
          <td class="row text-right">
            <% myPercentageBuilding = ((@pledgedBuilding-@outstandingBuilding)/(if @pledgedBuilding==0 then 1 else @pledgedBuilding end))* 100 %>
            <%=  '%.2f' %  myPercentageBuilding %>%
          </td>
          <td class="row text-right">
            <% @nongiverBuilding =  (@non_givers_bf[sector.id] && @non_givers_bf[sector.id].reject{|p| p.on_behalf}.select{|p| p.gender }.count || 0)  %>
            <%= @nongiverBuilding %>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <% @pledgedBuilding = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender }.pluck(:building_fund_pledge).sum || 0) %>
            <%=  number_to_currency(@pledgedBuilding , precision: 2, unit: "")  %>

          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriBuildingFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomBuildingFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalBuildingConFemale = ( (@tpriBuildingFemale[sector.id] || 0) + (@cccomBuildingFemale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalBuildingConFemale , precision: 2, unit: "")  %>
          </td>
            <% @outstandingBuilding = (@pledges_not_given_bf[sector.id] && @pledges_not_given_bf[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender }.pluck(:building_fund_pledge).sum || 0) %>
          <td class="row text-right" style =" <%= @outstandingBuilding <= 0 ? '' : 'color: red;' %>">
            <%= number_to_currency(-@outstandingBuilding , precision: 2, unit: "") %>
          </td>
          <td class="row text-right">
            <% myPercentageBuilding = ((@pledgedBuilding-@outstandingBuilding)/(if @pledgedBuilding==0 then 1 else @pledgedBuilding end))* 100 %>
            <%=  '%.2f' %  myPercentageBuilding %>%
          </td>
          <td class="row text-right">
            <% @nongiverBuilding =  (@non_givers_bf[sector.id] && @non_givers_bf[sector.id].reject{|p| p.on_behalf}.select{|p| !p.gender }.count || 0)  %>
            <%= @nongiverBuilding %>
          </td>
        </tr>
        <% end %>
      <% end %>
        <tr>
          <td style ="font-size:20px">
            <b>Grand Total</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalPledgedBuilding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalTpriBuilding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalCCCOMBuilding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><% grandTotalBuilding = grandTotalTpriBuilding + grandTotalCCCOMBuilding %></b>
            <b><%= number_to_currency(grandTotalBuilding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style =" <%= grandTotalOutstandingBuilding <= 0 ? '' : 'color: red;' %>; font-size:20px">
            <b><%= number_to_currency(-grandTotalOutstandingBuilding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <% myPercentageBuilding = ((grandTotalPledgedBuilding-grandTotalOutstandingBuilding)/(if grandTotalPledgedBuilding==0 then 1 else grandTotalPledgedBuilding end))* 100 %>
            <b><%=  '%.2f' %  myPercentageBuilding %>%</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= grandTotalNonGiversBuilding %></b>
          </td>
        </tr>
    </tbody>
  </table>
</div>


<h3 class="row text-left"> Special Contribution Summary </h3>
<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> S.C. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total S.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given </td>
        <td class="row text-center"> Non Givers </td>
      </tr>
    </thead>
    <tbody>
      <% grandTotalPledgedSpecial = 0 %>
      <% grandTotalTpriSpecial = 0 %>
      <% grandTotalCCCOMSpecial = 0 %>
      <% grandTotalOutstandingSpecial = 0 %>
      <% grandTotalNonGiversSpecial = 0 %>

      <% @main_sectors.each do |main_sector| %>
        <% mySpecialPledge = 0 %>
        <% mySpecialOutstanding = 0 %>
        <% mySpecialNonGivers = 0 %>
        <% myTpriSpecial = 0 %>
        <% myCCCOMSpecial = 0 %>
        <% myNonGiversSpecial = 0 %>
        <% main_sector.sectors.each do |sector| %>
          <% mySpecialPledge += ((@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.pluck(:special_contribution_pledge).sum) || 0)  %>
          <% myTpriSpecial += (@tpriSpecialTotal[sector.id] || 0) %>
          <% myCCCOMSpecial += (@cccomSpecialTotal[sector.id] || 0) %>
          <% mySpecialOutstanding += (@pledges_not_given_sc[sector.id] && @pledges_not_given_sc[sector.id].reject{|p| p.member.on_behalf}.pluck(:special_contribution_pledge).sum || 0) %>
          <% myNonGiversSpecial += (@non_givers_sc[sector.id] && @non_givers_sc[sector.id].reject{|p| p.on_behalf}.count || 0) %>
        <% end %>
        <% grandTotalPledgedSpecial += mySpecialPledge %>
        <% grandTotalTpriSpecial += myTpriSpecial %>
        <% grandTotalCCCOMSpecial += myCCCOMSpecial %>
        <% grandTotalOutstandingSpecial += mySpecialOutstanding %>
        <% grandTotalNonGiversSpecial += myNonGiversSpecial %>

        <tr>
          <td style ="font-size:15px">
            <b><%= main_sector.sector_name %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><% mySpecialPledge %></b>
            <b><%=  number_to_currency(mySpecialPledge , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myTpriSpecial, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <b><%= number_to_currency(myCCCOMSpecial, precision:2, unit: "")  %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
              <% @totalSpecialCon = ( (myTpriSpecial || 0) + (myCCCOMSpecial || 0) ) %>
              <b><%=  number_to_currency(@totalSpecialCon , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style =" <%= mySpecialOutstanding <= 0 ? '' : 'color: red;' %>; font-size:15px">
            <b><%= number_to_currency(-mySpecialOutstanding , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:15px">
             <% myPercentageBuilding = ((mySpecialPledge-mySpecialOutstanding)/(if mySpecialPledge==0 then 1 else mySpecialPledge end))* 100 %>
            <b><%=  '%.2f' %  myPercentageBuilding %>%</b>
          </td>
          <td class="row text-right" style ="font-size:15px">
            <b><%= myNonGiversSpecial %></b>
          </td>
        </tr>

        <% main_sector.sectors.each do |sector| %>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <% @pledgedSpecial = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender }.pluck(:special_contribution_pledge).sum || 0) %>
            <%=  number_to_currency(@pledgedSpecial , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriSpecialMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomSpecialMale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalSpecialConMale = ( (@tpriSpecialMale[sector.id] || 0) + (@cccomSpecialMale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalSpecialConMale , precision: 2, unit: "")  %>
          </td>
            <% @specialOustanding = ((@pledges_not_given_sc[sector.id] && @pledges_not_given_sc[sector.id].reject{|p| p.member.on_behalf}.select{|p| p.member.gender}.pluck(:special_contribution_pledge).sum) || 0) %>
          <td class="row text-right" style =" <%= @specialOustanding <= 0 ? '' : 'color: red;' %>">
            <%= number_to_currency(-@specialOustanding , precision: 2, unit: "") %>
          </td>
          <td class="row text-right">
            <% myPercentageBuilding = ((@pledgedSpecial-@specialOustanding)/(if @pledgedSpecial==0 then 1 else @pledgedSpecial end))* 100 %>
            <%=  '%.2f' %  myPercentageBuilding %>%
          </td>
          <td class="row text-right">
            <% non_giver = (@non_givers_sc[sector.id] && @non_givers_sc[sector.id].reject{|p| p.on_behalf}.select{|p| p.gender}.count || 0) %>
            <%= non_giver %>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <% @pledgedSpecial = (@pledges[sector.id] && @pledges[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender }.pluck(:special_contribution_pledge).sum || 0) %>
            <%=  number_to_currency(@pledgedSpecial , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@tpriSpecialFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%= number_to_currency(@cccomSpecialFemale[sector.id] || 0 , precision:2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @totalSpecialConFemale = ( (@tpriSpecialFemale[sector.id] || 0) + (@cccomSpecialFemale[sector.id] || 0) ) %>
            <%=  number_to_currency(@totalSpecialConFemale , precision: 2, unit: "")  %>
          </td>
            <% @specialOustanding = ((@pledges_not_given_sc[sector.id] && @pledges_not_given_sc[sector.id].reject{|p| p.member.on_behalf}.select{|p| !p.member.gender}.pluck(:special_contribution_pledge).sum) || 0) %>
          <td class="row text-right" style =" <%= @specialOustanding <= 0 ? '' : 'color: red;' %>">
            <%= number_to_currency(-@specialOustanding , precision: 2, unit: "") %>
          </td>
          <td class="row text-right">
            <% myPercentageBuilding = ((@pledgedSpecial-@specialOustanding)/(if @pledgedSpecial==0 then 1 else @pledgedSpecial end))* 100 %>
            <%=  '%.2f' %  myPercentageBuilding %>%
          </td>
          <td class="row text-right">
            <% non_giver = (@non_givers_sc[sector.id] && @non_givers_sc[sector.id].reject{|p| p.on_behalf}.select{|p| !p.gender}.count || 0) %>
            <%= non_giver %>
          </td>
        </tr>
        <% end %>
      <% end %>
        <tr>
          <td style ="font-size:20px">
            <b>Grand Total</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalPledgedSpecial , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalTpriSpecial , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= number_to_currency(grandTotalCCCOMSpecial , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><% grandTotalSpecial = grandTotalTpriSpecial + grandTotalCCCOMSpecial %></b>
            <b><%= number_to_currency(grandTotalSpecial , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style =" <%= grandTotalOutstandingSpecial <= 0 ? '' : 'color: red;' %>; font-size:20px">
            <b><%= number_to_currency((-grandTotalOutstandingSpecial) , precision: 2, unit: "") %></b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <% myPercentageBuilding = ((grandTotalPledgedSpecial-grandTotalOutstandingSpecial)/(if grandTotalPledgedSpecial==0 then 1 else grandTotalPledgedSpecial end))* 100 %>
            <b><%=  '%.2f' %  myPercentageBuilding %>%</b>
          </td>
          <td class="row text-right" style ="font-size:20px">
            <b><%= grandTotalNonGiversSpecial %></b>
          </td>
        </tr>
    </tbody>
  </table>
</div>

<script>
  $("#select_month").datepicker( {
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
      orientation: "bottom"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');

</script>
