<% provide(:title, "Contribution Summary") %>
<p id="notice"><%= notice %></p>

<h1> Monthly Contribution Summary </h1>

<%= form_tag(contribution_transactions_summary3_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-md-offset-5" style='width: 10%;'>
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'Cumulative Summary', contribution_transactions_summary_path, class: 'btn btn btn-primary' %> &nbsp;
<% link_to 'View Graphs', contribution_transactions_summary2_path, class: 'btn btn btn-primary' %>

<h3 class="row text-left"> Monthly Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> M.C. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total M.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given </td>
        <td class="row text-center"> Non Givers </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <b><%= @members[key].first.sector.sector_type %> Total </b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@pledges[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@tpri[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@cccom[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding = ( @tpri[index] + @cccom[index] ) %>
            <b><%=  number_to_currency(@outstanding , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style="<%= @monthContributionNotGiven[index] <= 0 ? '' : 'color: red;' %>">
            <b><%=  number_to_currency(-@monthContributionNotGiven[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding2 = ( @pledges[index] ) %>
            <% @outstanding4 = ((@outstanding2- @monthContributionNotGiven[index]) / (@outstanding2 > 0 ? @outstanding2 : 1) ) * 100  %>
            <b><%=  '%.2f' % @outstanding4 %> % </b>
          </td>
          <td class="row text-right">
            <b><%=  @monthContributionNotGivenCount[index] %></b>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersMen[key].first.sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@pledgesMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@tpriMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@cccomMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstandingMen = ( @tpriMen[index] + @cccomMen[index] ) %>
            <%=  number_to_currency(@outstandingMen , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @monthContributionNotGivenMen[index] <= 0 ? '' : 'color: red;' %> ">
            <%=  number_to_currency(-@monthContributionNotGivenMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding2Men = ( @pledgesMen[index] ) %>
            <% @outstanding4Men = ((@outstanding2Men - @monthContributionNotGivenMen[index]) / (@outstanding2Men > 0 ? @outstanding2Men : 1) ) * 100  %>
            <%=  '%.2f' % @outstanding4Men %> %
          </td>
          <td class="row text-right">
            <%=  @monthContributionNotGivenCountMen[index] %>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersWomen[key].first.sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@pledgesWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@tpriWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@cccomWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstandingWomen = ( @tpriWomen[index] + @cccomWomen[index] ) %>
            <%=  number_to_currency(@outstandingWomen , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @monthContributionNotGivenWomen[index] <= 0 ? '' : 'color: red;' %> ">
            <%=  number_to_currency(-@monthContributionNotGivenWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding2Women = ( @pledgesWomen[index] ) %>
            <% @outstanding4Women = ((@outstanding2Women - @monthContributionNotGivenWomen[index]) / (@outstanding2Women > 0 ? @outstanding2Women : 1) ) * 100  %>
            <%=  '%.2f' % @outstanding4Women %> %
          </td>
          <td class="row text-right">
            <%=  @monthContributionNotGivenCountWomen[index] %>
          </td>

        </tr>
      <% end %>
      <tr>
        <% @outstandingSum = ( @tpri.sum() + @cccom.sum() ) %>
        <% @outstanding2Sum = ( @pledges.sum()  ) %>
        <% @outstanding3Sum = ( @outstandingSum - @outstanding2Sum ) %>
        <td style ="font-size:20px">
          <b>Grand Total</b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@pledges.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@tpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@tpri.sum() + @cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @monthContributionNotGiven.sum() <= 0 ? '' : 'color: red;' %> font-size:20px">
          <b><%= number_to_currency(-@monthContributionNotGiven.sum() , precision: 2, unit: "" )%></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <% @accumulatedpledge = @pledges.sum() %>
          <% @percentageoutstanding = ((@accumulatedpledge - @monthContributionNotGiven.sum()) / (@accumulatedpledge > 0 ? @accumulatedpledge : 1) ) * 100 %>
          <b><%=  '%.2f' % @percentageoutstanding %> %</b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%= @monthContributionNotGivenCount.sum %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Building Fund Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> B.F. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total B.F. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given</td>
        <td class="row text-center"> Non Givers </td>

      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <b><%= @members[key].first.sector.sector_type %> Total </b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@buildingpledges[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@buildingtpri[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@buildingcccom[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding11 = ( @buildingtpri[index] + @buildingcccom[index] ) %>
           <b> <%=  number_to_currency(@outstanding11 , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right" style="<%= @buildingFundNotGiven[index] <= 0 ? '' : 'color: red;' %>">
            <b><%=  number_to_currency(-@buildingFundNotGiven[index] , precision: 2, unit: "")  %> </b>
          </td>
          <td class="row text-right">
            <% @outstanding13 = ( ((@buildingpledges[index] - @buildingFundNotGiven[index] )/ (@buildingpledges[index] > 0 ? @buildingpledges[index] : 1)) * 100 ) %>
            <b><%=  '%.2f' % @outstanding13 %> % </b>
          </td>
          <td class="row text-right">
            <b><%=  @buildingFundNotGivenCount[index] %></b>
          </td>

        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersMen[key].first.sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingpledgesMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingtpriMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingcccomMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding11Men = ( @buildingtpriMen[index] + @buildingcccomMen[index] ) %>
            <%=  number_to_currency(@outstanding11Men , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @buildingFundNotGivenMen[index] <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@buildingFundNotGivenMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding13Men = ( ((@buildingpledgesMen[index] - @buildingFundNotGivenMen[index] )/ (@buildingpledgesMen[index] > 0 ? @buildingpledgesMen[index] : 1)) * 100 ) %>
            <%=  '%.2f' % @outstanding13Men %> %
          </td>
          <td class="row text-right">
            <%=  @buildingFundNotGivenCountMen[index] %>
          </td>

        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersWomen[key].first.sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingpledgesWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingtpriWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingcccomWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding11Women = ( @buildingtpriWomen[index] + @buildingcccomWomen[index] ) %>
            <%=  number_to_currency(@outstanding11Women , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @buildingFundNotGivenWomen[index] <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@buildingFundNotGivenWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding13Women = ( ((@buildingpledgesWomen[index] - @buildingFundNotGivenWomen[index] )/ (@buildingpledgesWomen[index] > 0 ? @buildingpledgesWomen[index] : 1)) * 100 ) %>
            <%=  '%.2f' % @outstanding13Women %> %
          </td>
          <td class="row text-right">
            <%=  @buildingFundNotGivenCountWomen[index] %>
          </td>

        </tr>
      <% end %>
      <tr>
        <% @buildingSum = ( @buildingtpri.sum() + @buildingcccom.sum() ) %>
        <% @building2Sum = ( @buildingpledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) ) %>
        <% @building3Sum = ( @buildingSum - @building2Sum ) %>
        <td style ="font-size:20px"> <b> Grand Total</b> </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@buildingpledges.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@buildingtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@buildingtpri.sum() + @buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @buildingFundNotGiven.sum() <= 0 ? '' : 'color: red;' %> font-size:20px">
          <b><%= number_to_currency(-@buildingFundNotGiven.sum(), precision: 2, unit: "") %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <% @accumulatedbuildingpledge = @buildingpledges.sum()  %>
          <% @buildingpercentageoutstanding = ((@accumulatedbuildingpledge - @buildingFundNotGiven.sum()) / (@accumulatedbuildingpledge > 0 ? @accumulatedbuildingpledge : 1) ) * 100 %>
          <b><%=  '%.2f' % @buildingpercentageoutstanding %> %</b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%= @buildingFundNotGivenCount.sum %></b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Special Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> S.C. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total S.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <b><%= @members[key].first.sector.sector_type %> Total </b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@specialpledges[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@specialtpri[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <b><%=  number_to_currency(@specialcccom[index] , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding5 = ( @specialtpri[index] + @specialcccom[index] ) %>
            <b><%=  number_to_currency(@outstanding5 , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding3 = ( @outstanding5 - @specialpledges[index] ) %>
            <span style="<%= @outstanding3 >= 0 ? '' : 'color: red;' %>">
            <b><%=  number_to_currency(@outstanding3 , precision: 2, unit: "")  %></b>
          </td>
          <td class="row text-right">
            <% @outstanding6 = ( (@outstanding5 /( @specialpledges[index] > 0  ? @specialpledges[index] : 1) ) * 100 ) %>
            <b><%=  '%.2f' % @outstanding6 %> % </b>
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersMen[key].first.sector.sector_type %> (Men)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialpledgesMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialtpriMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialcccomMen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding5Men = ( @specialtpriMen[index] + @specialcccomMen[index] ) %>
            <%=  number_to_currency(@outstanding5Men , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding3Men = ( @outstanding5Men - @specialpledgesMen[index] ) %>
            <span style="<%= @outstanding3Men >= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(@outstanding3Men , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding6Men = ( (@outstanding5Men /( @specialpledgesMen[index] > 0  ? @specialpledgesMen[index] : 1) ) * 100 ) %>
            <%=  '%.2f' % @outstanding6Men %> %
          </td>
        </tr>
        <tr>
          <td style="padding-left: 32px;">
            <%= @membersWomen[key].first.sector.sector_type %> (Women)
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialpledgesWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialtpriWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialcccomWomen[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding5Women = ( @specialtpriWomen[index] + @specialcccomWomen[index] ) %>
            <%=  number_to_currency(@outstanding5Women , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding3Women = ( @outstanding5Women - @specialpledgesWomen[index] ) %>
            <span style="<%= @outstanding3Women >= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(@outstanding3Women , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding6Women = ( (@outstanding5Women /( @specialpledgesWomen[index] > 0  ? @specialpledgesWomen[index] : 1) ) * 100 ) %>
            <%=  '%.2f' % @outstanding6Women %> %
          </td>
        </tr>
      <% end %>
      <tr>
        <% @specialSum = ( @specialtpri.sum() + @specialcccom.sum() ) %>
        <% @special2Sum = ( @specialpledges.sum() ) %>
        <% @special3Sum = ( @specialSum - @special2Sum ) %>
        <td style ="font-size:20px"> <b>Grand Total</b> </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%= number_to_currency(@specialpledges.sum() , precision: 2, unit: "")%></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@specialtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@specialcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <b><%=  number_to_currency(@specialSum , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @special3Sum >= 0 ? '' : 'color: red;' %> font-size:20px" >
          <b><%=  number_to_currency(@special3Sum , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style ="font-size:20px">
          <% @specialcontributionpercentage = ( (@specialSum /( @special2Sum > 0  ? @special2Sum : 1) ) * 100 ) %>
          <b><%=  '%.2f' % @specialcontributionpercentage %> % </b>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<script>
  $("#select_month").datepicker( {
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
      orientation: "bottom"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');

</script>
