<% provide(:title, "Contribution Summary") %>
<p id="notice"><%= notice %></p>

<h1> Contribution Summary </h1>

<%= form_tag(contribution_transactions_summary2_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-md-offset-5" style='width: 10%;'>
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<br><br>

<%= link_to 'Cumulative Summary', contribution_transactions_summary_path, class: 'btn btn btn-primary' %> &nbsp;
<%= link_to 'View Monthly Summary', contribution_transactions_summary3_path, class: 'btn btn btn-primary' %>

<%= render 'summary_pledge_graph', title: 'Total Monthly Pledge', graph_pledges_array: @graph_pledges_array, graph_pledges_hash: @graph_pledges_hash %>
<hr />
<%= render 'summary_pledge_graph', title: 'Total Special Contribution Collected', graph_pledges_array: @graph_special_contribution_array, graph_pledges_hash: @graph_special_contribution_hash %>
<hr />
<%= render 'summary_contribution_transaction_graph', title: 'Monthly Contribution ' + @year.to_s , graph_contribution_transaction_month2_hash: @graph_contribution_transaction_month2_hash %>
<hr />
<%= render 'summary_contribution_transaction_graph', title: 'Building Fund ' + @year.to_s , graph_contribution_transaction_month2_hash: @graph_building_fund_month2_hash %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Chinese', pledges: @pledges[0], data: @ct_over_year[7] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Gym', pledges: @pledges[1], data: @ct_over_year[15] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Campus', pledges: @pledges[2], data: @ct_over_year[5] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Souled Out Singles', pledges: @pledges[3], data: @ct_over_year[1] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Professional', pledges: @pledges[6], data: @ct_over_year[2] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Youth and Family', pledges: @pledges[5], data: @ct_over_year[4] || [] %>
<hr />
<%= render 'summary_pledge_vs_actual_graph', title: 'Young Parents and Eunice', pledges: @pledges[4], data: @ct_over_year[6] || [] %>

<script>
  $("#select_month").datepicker( {
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
      orientation: "bottom"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');

</script>
