<% provide(:title, "Contribution Summary") %>
<p id="notice"><%= notice %></p>

<h1> Cumulative Contribution Summary </h1>

<%= form_tag(contribution_transactions_summary_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>
      </div>
    </div>

    <div class="row text-center">
      <div class="col-md-4 col-md-offset-5" style='width: 10%;'>
      <%= submit_tag "Filter", id: 'searchBtn', style: 'margin-top: 10px;', class: 'btn btn-primary' %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to 'View Monthly Summary', contribution_transactions_summary4_path, class: 'btn btn btn-primary' %> &nbsp;
<% link_to 'View Graphs', contribution_transactions_summary2_path, class: 'btn btn btn-primary' %>

<h3 class="row text-left"> Monthly Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> M.C. Pledge </td>
        <td class="row text-center"> Accumulated Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total M.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given</td>
        <td class="row text-center"> Membership </td>
        <td class="row text-center"> Without Pledges </td>
        <td class="row text-center"> % Missing </td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@pledges[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding2 = ( @pledges[index] * (params[:month] ? params[:month].to_date.month : Time.now.month) ) %>
            <%=  number_to_currency(@outstanding2 , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@tpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@cccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding = ( @tpri[index] + @cccom[index] ) %>
            <%=  number_to_currency(@outstanding , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @monthContributionNotGiven[index] <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@monthContributionNotGiven[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding4 = ((@outstanding2- @monthContributionNotGiven[index]) / (@outstanding2 > 0 ? @outstanding2 : 1) ) * 100  %>
            <%=  '%.2f' % @outstanding4 %> %
          </td>
          <td class="row text-right">
             <%= @membersTotal[key].count %>
          </td>
          <td class="row text-right">
            <% year = (params[:month] && !params[:month].empty?) ? params[:month].to_date.year.to_s : Date.today.year.to_s %>
            <% range = (("1/1/"+year).to_date.beginning_of_year..("1/1/"+year).to_date.end_of_year) %>
            <%= (@members[key].reject{ |m| m.on_behalf}.select{ |x| x.pledges.select{ |x| range.cover?x.year}.count < 1 }.count) %>
          </td>
          <td class="row text-right">
            <%= "%.2f" % ((((@members[key].reject{ |m| m.on_behalf}.select{ |x| x.pledges.select{ |x| range.cover?x.year}.count < 1 }.count)) /  @membersTotal[key].count.to_f)*100 ) %>
          </td>
        </tr>
      <% end %>
      <tr>
        <% @outstandingSum = ( @tpri.sum() + @cccom.sum() ) %>
        <% @outstanding2Sum = ( @pledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) ) %>
        <% @outstanding3Sum = ( @outstandingSum - @outstanding2Sum ) %>
        <td>
          <b>Total</b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@pledges.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <% @accumulatedpledge = @pledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) %>
          <b><%=  number_to_currency( @accumulatedpledge , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@tpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@tpri.sum() + @cccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @monthContributionNotGiven.sum() <= 0 ? '' : 'color: red;' %>">
          <b><%= number_to_currency(-@monthContributionNotGiven.sum() , precision: 2, unit: "" )%></b>
        </td>
        <td class="row text-right">
          <% @accumulatedpledge = @pledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) %>
          <% @percentageoutstanding = ((@accumulatedpledge - @monthContributionNotGiven.sum()) / (@accumulatedpledge > 0 ? @accumulatedpledge : 1) ) * 100 %>
          <b><%=  '%.2f' % @percentageoutstanding %> %</b>
        </td>
        <td class="row text-right">
          <b><%= @memberTotal.count %></b>
        </td>
        <td class="row text-right">
          <% year = (params[:month] && !params[:month].empty?) ? params[:month].to_date.year.to_s : Date.today.year.to_s %>
          <% range = (("1/1/"+year).to_date.beginning_of_year..("1/1/"+year).to_date.end_of_year) %>
          <b><%= (@member.reject{ |m| m.on_behalf }.select{ |x| x.pledges.select{ |y| range.cover?y.year}.count < 1 }.count) %></b>
        </td>
        <td class="row text-right">
          <b><%= '%.2f' % ((((@member.reject{ |m| m.on_behalf }.select{ |x| x.pledges.select{ |y| range.cover?y.year}.count < 1 }.count)) /(@memberTotal.count).to_f) * 100) %>%</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Building Fund Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> B.F. Pledge </td>
        <td class="row text-center"> Accumulated Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total B.F. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given</td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingpledges[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding10 = ( @buildingpledges[index] * (params[:month] ? params[:month].to_date.month : Time.now.month)) %>
            <%=  number_to_currency(@outstanding10 , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingtpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@buildingcccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding11 = ( @buildingtpri[index] + @buildingcccom[index] ) %>
            <%=  number_to_currency(@outstanding11 , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right" style="<%= @buildingFundNotGiven[index] <= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(-@buildingFundNotGiven[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding13 = ( ((@outstanding10 - @buildingFundNotGiven[index]) / (@outstanding10 > 0 ? @outstanding10 : 1)) * 100 ) %>
            <%=  '%.2f' % @outstanding13 %> %
          </td>
        </tr>
      <% end %>
      <tr>
        <% @buildingSum = ( @buildingtpri.sum() + @buildingcccom.sum() ) %>
        <% @building2Sum = ( @buildingpledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) ) %>
        <% @building3Sum = ( @buildingSum - @building2Sum ) %>
        <td> <b>Total</b> </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingpledges.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <% @accumulatedbuildingpledge = @buildingpledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) %>
          <b><%=  number_to_currency( @accumulatedbuildingpledge , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@buildingtpri.sum() + @buildingcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @buildingFundNotGiven.sum() <= 0 ? '' : 'color: red;' %>">
          <b><%= number_to_currency(-@buildingFundNotGiven.sum(), precision: 2, unit: "") %></b>
        </td>
        <td class="row text-right">
          <% @accumulatedbuildingpledge = @buildingpledges.sum() * (params[:month] ? params[:month].to_date.month : Time.now.month) %>
          <% @buildingpercentageoutstanding = ((@accumulatedbuildingpledge - @buildingFundNotGiven.sum()) / (@accumulatedbuildingpledge > 0 ? @accumulatedbuildingpledge : 1) ) * 100 %>
          <b><%=  '%.2f' % @buildingpercentageoutstanding %> %</b>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<h3 class="row text-left"> Special Contribution Summary </h3>

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display" style="margin-bottom: 32px;">
    <thead>
      <tr>
        <td> Sector </td>
        <td class="row text-center"> S.C. Pledge </td>
        <td class="row text-center"> TPRI </td>
        <td class="row text-center"> CCCOM </td>
        <td class="row text-center"> Total S.C. </td>
        <td class="row text-center"> P. Outstanding </td>
        <td class="row text-center"> % Given</td>
      </tr>
    </thead>
    <tbody>
      <% @members.keys.each_with_index do |key, index| %>
        <tr>
          <td>
            <%= @members[key].first.sector.sector_type %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialpledges[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialtpri[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <%=  number_to_currency(@specialcccom[index] , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding5 = ( @specialtpri[index] + @specialcccom[index] ) %>
            <%=  number_to_currency(@outstanding5 , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding3 = ( @outstanding5 - @specialpledges[index] ) %>
            <span style="<%= @outstanding3 >= 0 ? '' : 'color: red;' %>">
            <%=  number_to_currency(@outstanding3 , precision: 2, unit: "")  %>
          </td>
          <td class="row text-right">
            <% @outstanding6 = ( (@outstanding5 /( @specialpledges[index] > 0  ? @specialpledges[index] : 1) ) * 100 ) %>
            <%=  '%.2f' % @outstanding6 %> %
          </td>
        </tr>
      <% end %>
      <tr>
        <% @specialSum = ( @specialtpri.sum() + @specialcccom.sum() ) %>
        <% @special2Sum = ( @specialpledges.sum() ) %>
        <% @special3Sum = ( @specialSum - @special2Sum ) %>
        <td> <b>Total</b> </td>
        <td class="row text-right">
          <b><%= number_to_currency(@specialpledges.sum() , precision: 2, unit: "")%></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@specialtpri.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@specialcccom.sum() , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <b><%=  number_to_currency(@specialSum , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right" style="<%= @special3Sum >= 0 ? '' : 'color: red;' %>">
          <b><%=  number_to_currency(@special3Sum , precision: 2, unit: "")  %></b>
        </td>
        <td class="row text-right">
          <% @specialcontributionpercentage = ( (@specialSum /( @special2Sum > 0  ? @special2Sum : 1) ) * 100 ) %>
          <b><%=  '%.2f' % @specialcontributionpercentage %> % </b>
        </td>
      </tr>

    </tbody>
  </table>
</div>


<script>
  $("#select_month").datepicker( {
      format: "mm/yyyy",
      viewMode: "months",
      minViewMode: "months",
      autoclose: true,
      orientation: "bottom"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');

</script>
