<% provide(:title, "TPRI Report") %>
<p id="notice"><%= notice %></p>

<%= form_tag(contribution_transactions_tpri_path, :method => "get", id: "search-form") do %>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-md-offset-3">
        <%= text_field_tag :name, params[:name], placeholder: "Search Name", id: 'search_field' %>
      </div>
      <div class="col-md-3">
        <%= text_field_tag :month, params[:month], placeholder: "Search Month", id: 'select_month' %>

      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <%= select_tag :fund_type,options_for_select(
          ContributionTransaction::FUND_TYPE, params[:fund_type] || ''
        ), {class: "form-control" , prompt: 'Fund Type'}  %>

      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 col-md-offset-4">
      <%= submit_tag "Filter", id: 'searchBtn', class: "btn filter btn-info" %>
      </div>
    </div>
  </div>
<% end %>

<h1>TPRI Report</h1>

<%= link_to 'New Contribution Transaction', new_contribution_transaction_path(name: params[:name], bank: params[:bank],
      month: params[:month], fund_type: params[:fund_type]), class: "btn btn btn-primary", style: "margin-bottom: 10px" %> &nbsp;
<%= link_to 'Download CSV', contribution_transactions_tpri_path(format: 'csv', name: params[:name], month: params[:month], fund_type: params[:fund_type]), class: "btn btn btn-primary", style: "margin-bottom: 10px" %>


<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
    <thead>
      <tr>
        <th>Member</th>
        <th>Receipt Name</th>
        <th>For which Month?</th>
        <th>Bank statement date</th>
        <th>Bank Account</th>
        <th>Fund Type</th>
        <th>Amount</th>
      </tr>
    </thead>

    <tbody>
      <% @contribution_transactions.each do |contribution_transaction| %>
        <tr>
          <td><%= contribution_transaction.member.common_name %></td>
          <td><%= contribution_transaction.receipt_to.receipt_name %></td>
          <td><%= contribution_transaction.transaction_date.strftime("%B") %></td>
          <td><%= contribution_transaction.bank_statement_date.strftime("%d/%m/%Y") %></td>
          <td><%= contribution_transaction.bank_account %></td>
          <td><%= ContributionTransaction::FUND_TYPE_NAME[contribution_transaction.fund_type] %></td>
          <td><%= '%.2f' % contribution_transaction.amount %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>
<%= will_paginate @contribution_transactions %>




<script>
$("#select_month").datepicker( {
    format: "mm/yyyy",
    viewMode: "months",
    minViewMode: "months",
    autoclose: true
});

(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');

</script>
