<h2 style='width: 30%;'>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style='width: 30%;'>
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style='width: 30%;'>
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <% f.check_box :remember_me %>
      <% f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" style='width: 10%;'>
    <%= f.submit "Log in", class: 'btn btn-success' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
