<%= form_for(leader_transaction) do |f| %>
  <% if leader_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(leader_transaction.errors.count, "error") %> prohibited this leader_transaction from being saved:</h2>

      <ul>
      <% leader_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
