<p id="notice"><%= notice %></p>

<h1>Leader Transactions</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @leader_transactions.each do |leader_transaction| %>
      <tr>
        <td><%= link_to 'Show', leader_transaction %></td>
        <td><%= link_to 'Edit', edit_leader_transaction_path(leader_transaction) %></td>
        <td><%= link_to 'Destroy', leader_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Leader Transaction', new_leader_transaction_path %>
