@import "bootstrap-sprockets";
@import "bootstrap";
@import 'bootstrap-datepicker';

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.delete {
  color: red
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}

#logo:hover {
  color: #fff;
  text-decoration: none;
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@media only screen and (max-width: 800px) {

    /* Force table to not be like tables anymore */
	#no-more-tables table,
	#no-more-tables thead,
	#no-more-tables tbody,
	#no-more-tables th,
	#no-more-tables td,
	#no-more-tables tr {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#no-more-tables thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

	#no-more-tables tr { border: 1px solid #ccc; }

	#no-more-tables td {
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee;
		position: relative;
		padding-left: 50%;
		white-space: normal;
		text-align:left;
	}

	#no-more-tables td:before {
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%;
		padding-right: 10px;
		white-space: nowrap;
		text-align:left;
		font-weight: bold;
	}

  .headcol {
            position:absolute;
           }
  .headcol:before {
                       content:'Row ';
                   }

	/*
	Label the data
	*/
	#no-more-tables td:before { content: attr(data-title); }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.bg-red { background-color: red; }

.dropdown a {
  cursor: pointer;
}

table {
  border-collapse: collapse;
}

table, td, th {
  border: 1px solid black;
}

.mickey-mouse-pointer {
  cursor: pointer;
}

.elementId {
  cursor: pointer;
}

#pledge_special_contribution {
  cursor: pointer;
}

#pledge_building_fund {
  cursor: pointer;
}

#pledge_amount {
  cursor: pointer;
}

.btn3 {
  // border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 14px !important;
  font-size: 16px !important;
  width: 180px !important;
  cursor: pointer;
}

.btn {
  // border: 2px solid black;
  background-color: white;
  color: black;
  padding: 8px 14px !important;
  font-size: 16px !important;
  cursor: pointer;
}

.btn2 {
  // border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px !important;
  font-size: 16px !important;
  cursor: pointer;
}

.filter {
  // border: 2px solid black;
  background-color: white;
  color: black;
  padding: 6px 10px !important;
  font-size: 16px !important;
  cursor: pointer;
  // width: 100px !important;
}

.absent {
  background-color: pink;
}

.present {
  background-color: limegreen;
}

.on-time {
  display: inline-block;
  background-color: green;
  margin: 0 auto;
  width: 47px;
  height: 47px;
}

.on-time-but-less {
  display: inline-block;
  background-color: green;
  background: repeating-linear-gradient(
    -55deg,
    green,
    green 10px,
    greenyellow 10px,
    greenyellow 20px
  );
  margin: 0 auto;
  width: 47px;
  height: 47px;
}

.late {
  display: inline-block;
  background-color: orange;
  margin: 0 auto;
  width: 47px;
  height: 47px;
}


.late-but-less {
  display: inline-block;
  background-color: orange;
  background: repeating-linear-gradient(
    -55deg,
    orange,
    orange 10px,
    coral 10px,
    coral 20px
  );
  margin: 0 auto;
  width: 47px;
  height: 47px;
}

.no-record {
  background-color: white;
  margin: 0 auto;
  width: 47px;
  height: 47px;
}

