<div class="clearfix"></div>
<footer class="footer">
  <small>
    Central Christian Church of Malaysia
  </small>
  <nav>
    <ul>
      <!-- <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li> -->
    </ul>
  </nav>
</footer>
