<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container" style="width: 90%;">
    <%= image_tag "logo.jpg", class: 'navbar-brand' %>
    <%= link_to "Central Christian Church of Malaysia", root_path, id: "logo" %>

    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Staffs</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Membership", members_path %></li>
              <li><%= link_to "Report", sector_transactions_path %></li>
              <li><%= link_to "Sectors", sectors_path %></li>
              <li><%= link_to "Sector Contribution Report", my_contribution_transactions_member_path %></li>
              <li><%= link_to "Contribution Summary", contribution_transactions_summary_path %></li>
            </ul>
          </li>
          <% if current_user.admin %>
            <li class="dropdown">
              <a class="dropdown-toggle" data-toggle="dropdown">Admin</a>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to "Members Contribution Report", contribution_transactions_member_path %>
                </li>
                <li>
                  <%= link_to "Contribution Transactions List", contribution_transactions_path %>
                </li>
                <li>
                  <%= link_to "Pledges Report", pledges_member_path %>
                </li>
                <li>
                  <%= link_to "Pledges List", pledges_path %>
                </li>
                <li>
                  <%= link_to "TPRI Report", contribution_transactions_tpri_path %>
                </li>
                <li>
                  <%= link_to "Bank Account Summary", contribution_transactions_bank_summary_path %>
                </li>
              </ul>
            </li>
          <% end %>
          <li>
            <% link_to "Absentee Report", absentees_path %>
          </li>
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown">Account</a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", edit_user_registration_path %></li>
              <li><%= link_to "Log Out", logout_path %></li>
            </ul>
          </li>
        <% else %>
        <li><%= link_to "Log in", new_user_session_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>

<script>
  $('.dropdown-toggle').dropdown();
</script>
