<%= form_for(member) do |f| %>
  <% if member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <table class="col-md-12 table-bordered table-striped table-condensed cf">
      <tr>
        <th>Ic Name *</th>
        <td ><%= f.text_field :ic_name, :tabindex => 1 %></td>
        <td rowspan="21"></td>
        <th>Current Address 1</th>
        <td><%= f.text_field :current_address_1 %></td>
      </tr>
      <tr>
        <th>Common Name *</th>
        <td><%= f.text_field :common_name, :tabindex => 2 %></td>
        <th>Current Address 2</th>
        <td><%= f.text_field :current_address_2 %></td>
      </tr>
      <tr>
        <th>IC Number *</th>
        <td><%= f.text_field :ic_no, :tabindex => 3 %></td>
        <th>Town</th>
        <td><%= f.text_field :town %></td>
      </tr>
      <tr>
        <th>D.O.B *</th>
        <td><%= f.date_field :d_o_b, :tabindex => 4 %></td>
        <th>Postcode</th>
        <td><%= f.text_field :postcode %></td>
      </tr>
      <tr>
        <th>Gender *</th>
        <td><%= f.select :gender, [['Male', true], ['Female', false]], :prompt => 'Select', required: true, placeholder: 'Gender', :tabindex => 7 %></td>
        <th>State </th>
        <td><%= f.text_field :state %></td>
      </tr>
      <tr>
        <th>Marital Status</th>
        <!-- <td><%= f.text_field :marital_status %></td> -->
        <td><%= f.select :marital_status, [['Married','Married'],['Single','Single'],['Eunice','Eunice'],['Widow','Widow']], :tabindex => 8 %></td>
        <th>House Telephone</th>
        <td><%= f.text_field :house_telephone %></td>
      </tr>
      <tr>
        <th>Wedding Date</th>
        <td><%= f.date_field :wedding_date, :tabindex => 9 %></td>
        <!-- <td><%= f.date_select :wedding_date %></td> -->
        <th>Office Telephone</th>
        <td><%= f.text_field :office_telephone %></td>
      </tr>
      <tr>
        <th>Race</th>
        <td><%= f.text_field :race, :tabindex => 10 %></td>
        <th>Handphone</th>
        <td><%= f.text_field :handphone %></td>
      </tr>
      <tr>
        <th>Nationality</th>
        <td><%= f.text_field :nationality, :tabindex => 11 %></td>
        <th>Email</th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th>Previous Religion</th>
        <td><%= f.text_field :previous_religion, :tabindex => 10 %></td>
        <th>Hometown Address 1</th>
        <td><%= f.text_field :hometown_address_1 %></td>
      </tr>
      <tr>
        <th>Baptism Date *</th>
        <td><%= f.date_field :baptism_date, :tabindex => 11 %></td>
        <th>Hometown Address 2</th>
        <td><%= f.text_field :hometown_address_2 %></td>
      </tr>
      <tr>
        <th>First Invited By</th>
        <td><%= f.text_field :first_invited_by, :tabindex => 12 %></td>
        <th>Town</th>
        <td><%= f.text_field :ht_town %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th>Postcode</th>
        <td><%= f.text_field :ht_postcode %></td>
      </tr>
      <tr>
        <th>Highest Education</th>
        <td><%= f.text_field :highest_education %></td>
        <th>State</th>
        <td><%= f.text_field :ht_state %></td>
      </tr>
      <tr>
        <th>Job Title</th>
        <td><%= f.text_field :job_title %></td>
        <th>Hometown Tel No</th>
        <td><%= f.text_field :hometown_telephone %></td>
      </tr>
      <tr>
        <th>Company</th>
        <td><%= f.text_field :company %></td>
        <th>Country</th>
        <td><%= f.text_field :ht_country %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th></th>
        <td></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th>Bibletalk Leader?</th>
        <td><%= f.check_box :is_leader %></td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th>Leader's Name</th>
        <!-- <td style= 'width: 30%;'><%= f.collection_select :leader_id, Member.order('common_name ASC'). where(is_leader: true, gender: true), :id, :common_name, prompt: 'Please select Leaders Name' %></td> -->
        <td>N/A</td>
      </tr>
      <tr>
        <th></th>
        <td></td>
        <th>Sector ID</th>
        <td><%= f.collection_select :sector_id, Sector.all.where(new: true).order('sector_type ASC'), :id, :sector_type, prompt: 'Please select Sector' %></td>
      </tr>
    </table>
  <div class="actions center">
    <br><%= f.submit class: "btn btn3 btn-primary", style: 'margin-top: 10px;' %>
  </div>
<% end %>

<script>
  $( "#member_leader_id" ).select2({
    theme: "bootstrap"
  });

  $( "#member_sector_id" ).select2({
    theme: "bootstrap"
  });
</script>
