<% provide(:title, "Members Edit") %>
<p id="notice"><%= notice %></p>

<h1>Editing Member</h1>
Fields marked with an * are compulsory
<%= render 'form2', member: @member %>


<div class="actions center">
  <%= link_to 'Show', @member, class: 'btn btn btn-primary' %> &nbsp;
  <%= link_to 'Back', members_path, class: 'btn btn btn-primary' %>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
