<% provide(:title, "Members Index") %>
<p id="notice"><%= notice %></p>

<!-- <div style="width: 15%;">
  <h2>Import Data</h2>
  <%= form_tag import_members_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div> -->
<%= form_tag(members_indexall_path, :method => "get", id: "search-form") do %>
<div style="width: 30%;">
  <%= text_field_tag :search, params[:search], placeholder: "Search Members", id: 'search_field' %>
</div>
<div style="margin-bottom: 10px; width: 15%; float:left;">
  <%= select_tag :sector, options_for_select(Sector.nonactive, params[:sector]), include_blank: true, id: 'select_sector', prompt: 'Filter Sector' %>
</div>
<div style="width: 15%; float:left;">
  <%= select_tag :leader, options_for_select(Member.options_for_select_type, params[:leader]), include_blank: true, id: 'select_leader', prompt: 'Filter Bibletalk Leader' %>
</div>
<div style="width: 30%;">
  <%= submit_tag "Search", :name => nil, id: 'searchBtn', style: 'margin-top: 10px;' %>
  <% end %>
</div>

  <% if @members.blank? %>
    <h4>there are no names containing the term <%= params[:sector] %>.</h4>
  <% end %>

<h1>Members</h1>
<%= link_to 'New Member', new_member_path %> | <%= link_to 'Show Less Details', members_path %><br>
<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script> -->

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
  <thead class="cf">
    <tr>
      <th nowrap="nowrap">ID</th>
      <th nowrap="nowrap">IC Name</th>
      <th nowrap="nowrap">Common Name</th>
      <th nowrap="nowrap">Sector</th>
      <th nowrap="nowrap">IC Number</th>
      <th nowrap="nowrap">Handphone Number</th>
      <th nowrap="nowrap">Gender</th>
      <th nowrap="nowrap">Leadership?</th>
      <th nowrap="nowrap">Leader's Name</th>
      <th nowrap="nowrap">Date of Birth</th>
      <th nowrap="nowrap">Marital Status</th>
      <th nowrap="nowrap">Wedding Date</th>
      <th nowrap="nowrap">Race</th>
      <th nowrap="nowrap">Nationality</th>
      <th nowrap="nowrap">Previous Religion</th>
      <th nowrap="nowrap">Baptism Date</th>
      <th nowrap="nowrap">First Invited By</th>
      <th nowrap="nowrap">Highest Education</th>
      <th nowrap="nowrap">Job Title</th>
      <th nowrap="nowrap">Company</th>
      <th nowrap="nowrap">Current Address 1</th>
      <th nowrap="nowrap">Current Address 2</th>
      <th nowrap="nowrap">Town</th>
      <th nowrap="nowrap">Postcode</th>
      <th nowrap="nowrap">State</th>
      <th nowrap="nowrap">House Telephone</th>
      <th nowrap="nowrap">Office Telephone</th>
      <th nowrap="nowrap">email</th>
      <th nowrap="nowrap">Hometown Address 1</th>
      <th nowrap="nowrap">Hometown Address 2</th>
      <th nowrap="nowrap">HT Town</th>
      <th nowrap="nowrap">HT Postcode</th>
      <th nowrap="nowrap">HT State</th>
      <th nowrap="nowrap">HT Country</th>
      <th nowrap="nowrap">HT Telephone</th>
      <th nowrap="nowrap">Action</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr style="<%= 'background-color:#EBF5FB;' if member.gender == true %><%= 'background-color:#FDEDEC;' if member.gender == false %>">
        <td nowrap="nowrap"><%= member.id %></td>
        <td nowrap="nowrap"><%= member.ic_name %></td>
        <td nowrap="nowrap"><%= member.common_name %></td>
        <td nowrap="nowrap"><%= member.sector ? member.sector.sector_type : '' %></td>
        <td nowrap="nowrap"><%= member.ic_no %></td>
        <td nowrap="nowrap"><%= member.handphone%></td>
        <td nowrap="nowrap"><%= member.gender ? "Male" : "Female" %></td>
        <td nowrap="nowrap"><%= member.is_leader ? "Yes" : "No" %></td>
        <td nowrap="nowrap"><%= member.leader ? member.leader.common_name : '' %></td>
        <td nowrap="nowrap"><%= member.d_o_b %></td>
        <td nowrap="nowrap"><%= member.marital_status %></td>
        <td nowrap="nowrap"><%= member.wedding_date %></td>
        <td nowrap="nowrap"><%= member.race %></td>
        <td nowrap="nowrap"><%= member.nationality %></td>
        <td nowrap="nowrap"><%= member.previous_religion %></td>
        <td nowrap="nowrap"><%= member.baptism_date %></td>
        <td nowrap="nowrap"><%= member.first_invited_by %></td>
        <td nowrap="nowrap"><%= member.highest_education %></td>
        <td nowrap="nowrap"><%= member.job_title %></td>
        <td nowrap="nowrap"><%= member.company %></td>
        <td nowrap="nowrap"><%= member.current_address_1 %></td>
        <td nowrap="nowrap"><%= member.current_address_2 %></td>
        <td nowrap="nowrap"><%= member.town %></td>
        <td nowrap="nowrap"><%= member.postcode %></td>
        <td nowrap="nowrap"><%= member.state %></td>
        <td nowrap="nowrap"><%= member.house_telephone %></td>
        <td nowrap="nowrap"><%= member.office_telephone %></td>
        <td nowrap="nowrap"><%= member.email %></td>
        <td nowrap="nowrap"><%= member.hometown_address_1 %></td>
        <td nowrap="nowrap"><%= member.hometown_address_2 %></td>
        <td nowrap="nowrap"><%= member.ht_town %></td>
        <td nowrap="nowrap"><%= member.ht_postcode %></td>
        <td nowrap="nowrap"><%= member.ht_state %></td>
        <td nowrap="nowrap"><%= member.ht_country %></td>
        <td nowrap="nowrap"><%= member.hometown_telephone %></td>
        <td nowrap="nowrap"><%= link_to 'Show', member %> ||
            <%= link_to 'Edit', edit_member_path(member) %> ||
            <%= link_to 'Delete', member, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
&nbsp;
<%= will_paginate @members %>
&nbsp;
  <p>
    Download:
    <%= link_to "CSV", members_path(format: "csv", search: params[:search], leader: params[:leader], sector: params[:sector]) %>
  </p>
&nbsp;
<script>
  $('#select_sector, #select_leader').change(function() {
    $('#searchBtn').click();
  });

  $( "#select_sector" ).select2({
    theme: "bootstrap"
  });

  $( "#select_leader" ).select2({
    theme: "bootstrap"
  });

  $( "#searchBtn" ).select2({
    theme: "bootstrap"
  });

  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');
</script>
