<% provide(:title, "Members Index") %>
<p id="notice"><%= notice %></p>

  <h1>Members</h1>
  <%= link_to 'New Member', new_member_path %><br>

  <%= form_for_filterrific @filterrific do |f| %>
  <div>
    Search
    <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
    <%= f.text_field(
      :search_query,
      class: 'filterrific-periodically-observed'
    ) %>
  </div>
  <div>
    Sector
    <%= f.select(
      :with_sector_id,
      @filterrific.select_options[:with_sector_id],
      { include_blank: '- Any -' }
    ) %>
  </div>
  <div>
    Sorted by
    <%= f.select(:sorted_by, @filterrific.select_options[:sorted_by]) %>
  </div>
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_url,
    ) %>
  </div>
  <%# add an automated spinner to your form when the list is refreshed %>
  <%= render_filterrific_spinner %>
  <% end %>

  <%= render(
  partial: 'members/list',
  locals: { members: @members }
  ) %>

<% if @members.blank? %>
  <h4>There are no names containing the term <%= params[:search] %>.</h4>
<% end %>


<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script> -->


&nbsp;
