<% provide(:title, "Members Index") %>
<p id="notice"><%= notice %></p>

  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Database" %>
    <%= submit_tag "Search", :name => nil %>
  <% end %>

<% if @members.blank? %>
  <h4>There are no names containing the term <%= params[:search] %>.</h4>
<% end %>

<h1>Members</h1>
<%= link_to 'New Member', new_member_path %><br>
<!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script> -->

<div id="no-more-tables">
  <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
  <thead class="cf">
    <tr>
      <th>ID</th>
      <th>IC Name</th>
      <th>Common Name</th>
      <th>IC Number</th>
      <th>Handphone Number</th>
      <th>Gender</th>
      <th>Sector</th>
      <th>Leadership?</th>
      <th>Leader's Name</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr style="<%= 'background-color:#EBF5FB;' if member.gender == true %><%= 'background-color:#FDEDEC;' if member.gender == false %>">
        <td><%= member.id %></td>
        <td><%= member.ic_name %></td>
        <td><%= member.common_name %></td>
        <td><%= member.ic_no %></td>
        <td><%= member.handphone%></td>
        <td><%= member.gender ? "Male" : "Female" %></td>
        <td><%= member.sector ? member.sector.sector_type : '' %></td>
        <td><%= member.is_leader ? "Yes" : "No" %></td>
        <td><%= member.leader ? member.leader.common_name : '' %></td>
        <td><%= link_to 'Show', member %>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Edit', edit_member_path(member) %>&nbsp;&nbsp;&nbsp;
            <%= link_to 'Delete', member, class: 'delete', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
&nbsp;
