<% provide(:title, "Members Index") %>
<p id="notice"><%= notice %></p>
<!-- <div style="width: 15%;">
  <h2>Import Data</h2>
  <%= form_tag import_members_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Import" %>
  <% end %>
</div> -->
  <%= form_tag(members_path, :method => "get", id: "search-form") do %>
    <div style="width: 45%;">
      <%= text_field_tag :search, params[:search], placeholder: "Search Members", id: 'search_field' %>
    </div>
    <div class="row">
      <div style="margin-bottom: 10px; width: 15%; float:left;">
        <%= select_tag :sector, options_for_select(Sector.options_for_select_type, params[:sector]), include_blank: true, id: 'select_sector', prompt: 'Filter Sector' %>
      </div>
      <div style="width: 15%; float:left;">
        <%= select_tag :leader, options_for_select(Member.options_for_select_type, params[:leader]), include_blank: true, id: 'select_leader', prompt: 'Filter Bibletalk Leader' %>
      </div>
      <div style="width: 15%; float:left;">
        <%= select_tag :gender, options_for_select([["Male", true], ["Female", false]], params[:gender]), include_blank: true, id: 'select_gender', prompt: 'Filter by Gender' %>
      </div>
    </div>
    <div class="row">
      <div style="width: 15%; float:left;">
        <%= select_tag :on_behalf, options_for_select([["Yes", true], ["No", false]], params[:on_behalf]), include_blank: true, id: 'select_on_behalf', prompt: 'Filter Unemployed/No job' %>
      </div>
      <div style="width: 15%; float:left;">
        <%= select_tag :esi, options_for_select([["Yes", true], ["No", false]], params[:esi]), include_blank: true, id: 'select_esi', prompt: 'Filter ESI' %>
      </div>
      <div style="width: 15%; float:left;">
        <%= select_tag :tpri, options_for_select([["Yes", true], ["No", false]], params[:tpri]), include_blank: true, id: 'select_tpri', prompt: 'Filter TPRI' %>
      </div>
    </div>
    <div style="width: 10%;">
    <%= submit_tag "Search", :name => nil, id: 'searchBtn', style: 'margin-top: 10px;', class: 'btn filter btn-info' %>
    <% end %>
    </div>
    <br>
    <div>Total Queried: <%= @members.count %></div>

  <% if @members.blank? %>
    <h4>There are no names that fits the search/filter.</h4>
  <% else %>

  <h1>Members</h1>
  <%= link_to 'New Member', new_member_path, class: 'btn btn btn-primary' %> &nbsp;
  <%= link_to 'Show All Details', members_indexall_path, class: 'btn btn btn-primary' %> &nbsp;
  <%= link_to "Download CSV", members_path(format: "csv", search: params[:search], leader: params[:leader], sector: params[:sector], gender: params[:gender], esi: params[:esi], on_behalf: params[:on_behalf], tpri: params[:tpri]), class: 'btn btn btn-primary' %>

  <br><br>
  <!-- <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.13/css/jquery.dataTables.css">
  <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.js"></script> -->

  <div id="no-more-tables">
    <table id="table_id" class="col-md-12 table-bordered table-condensed cf display">
    <thead class="cf">
      <tr>
        <th>ID</th>
        <th>Common Name</th>
        <th>Ic Name</th>
        <th>IC Number</th>
        <th>Handphone Number</th>
        <th>Gender</th>
        <th>Sector</th>
        <th>Leadership?</th>
        <th>Leader's Name</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      <% @members.select{|x| x.sector.active}.sort_by{|x| x.sector_id}.each do |member| %>
        <tr style="<%= 'background-color:#EBF5FB;' if member.gender == true %><%= 'background-color:#FDEDEC;' if member.gender == false %>">
          <td><%= member.id %></td>
          <td><%= member.common_name %></td>
          <td><%= member.ic_name %></td>
          <td><%= member.ic_no %></td>
          <td><%= member.handphone%></td>
          <td><%= member.gender ? "Male" : "Female" %></td>
          <td><%= member.sector ? member.sector.sector_type : '' %></td>
          <td><%= member.is_leader ? "Yes" : "No" %></td>
          <td><%= member.leader ? member.leader.common_name : '' %></td>
          <td><%= link_to 'Show', member %> ||
              <%= link_to 'Edit', edit_member_path(member) %>&nbsp; ||
              <%= link_to 'Delete', member, class: 'delete', method: :delete, data: { confirm: 'Delete entry from SECTOR TRANSACTIONS first!!' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%= will_paginate @members %>
<% end %>
&nbsp;
<script>
  $('#select_sector, #select_leader, #select_gender, #select_on_behalf, #select_esi, #select_tpri').change(function() {
    $('#searchBtn').click();
  });

  $( "#select_sector" ).select2({
    theme: "bootstrap"
  });

  $( "#select_leader" ).select2({
    theme: "bootstrap"
  });

  $( "#select_gender" ).select2({
    theme: "bootstrap"
  });

  $( "#select_on_behalf" ).select2({
    theme: "bootstrap"
  });

  $( "#select_esi" ).select2({
    theme: "bootstrap"
  });

  $( "#select_tpri" ).select2({
    theme: "bootstrap"
  });


  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-90556377-1', 'auto');
  ga('send', 'pageview');


</script>
