<h1>Member group</h1>
<% @members = @members.select { |x| x.sector.active } %>
<% if @member.member_group_leader %>
    <table>
      <tbody>
        <% @member.member_group_leader.member_groups.each do |member| %>
          <tr>
          <td><%= member.common_name %></td>
          <td><%= link_to "Delete", member_delete_member_group_path(member) unless member == @member.member_group_leader %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <div class="row" style="margin-top:30px">
    <%= select_tag "member", options_from_collection_for_select(@members, "id", "common_name", include_blank: true), id: "mselect" %>
    </div>
    <div class="row" style="margin-top:20px">
    <a id="btn-submit" class="btn btn-primary">Add</a>
    </div>

<% else %>
  No member group<br />
  <%= link_to "Create group", member_create_member_group_path(@member), class: "btn btn-primary" %>
<% end %>

<script>
$( "#mselect" ).select2({
  theme: "bootstrap"
});
$('#btn-submit').on('click', function() {
  var result = $("#mselect").val()
  var url = '<%= member_add_member_group_path(@member) %>?new_member_id=' + result;
  //console.log(result);
  window.location.href = url;
})
</script>
