<%= @members.collection_select :sector_id, Sector.all, :id, :sector_type %>
<%= text_field_tag :sector, params[:sector], placeholder: "Search Database" %>
<%= submit_tag "Search", :name => nil %>


style="background: linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url(<%= image_url 'logo.jpg' %>) no-repeat fixed center; background-size: contain; min-height: 100vh;"

<%= sector.staff ? sector.staff.common_name : '' %>

:sector_id, :leader_id, gender: :desc, is_leader: :desc

Member.where(is_leader: true, gender: true),


if @member.leader_id != member_params[:leader_id]
  LeaderTransaction.create(previous_leader_id: @member.leader.id, current_leader_id: member_params[:leader_id], member: @member)
end


desired_columns = ["ic_name", "common_name", "ic_no", "handphone", "is_leader", "gender", "leader_id", "sector_id"]

:registerable,
