<% provide(:title, "Show Info") %>
<p id="notice"><%= notice %></p>

<table class="col-md-12 table-bordered table-striped table-condensed cf">
  <tr>
    <th>Ic Name</th>
    <td ><%= @member.ic_name %></td>
    <td rowspan="23"></td>
    <th>Current Address 1</th>
    <td><%= @member.current_address_1 %></td>
  </tr>
  <tr>
    <th>Common Name</th>
    <td><%= @member.common_name %></td>
    <th>Current Address 2</th>
    <td><%= @member.current_address_2 %></td>
  </tr>
  <tr>
    <th>IC Number</th>
    <td><%= @member.ic_no %></td>
    <th>Town</th>
    <td><%= @member.town %></td>
  </tr>
  <tr>
    <th>D.O.B</th>
    <td><%= @member.d_o_b.strftime("%d/%m/%Y") %></td>
    <th>Postcode</th>
    <td><%= @member.postcode %></td>
  </tr>
  <tr>
    <th>Gender</th>
    <td><%= @member.gender ? "Male" : "Female" %></td>
    <th>State </th>
    <td><%= @member.state %></td>
  </tr>
  <tr>
    <th>Marital Status</th>
    <td><%= @member.marital_status %></td>
    <th>House Telephone</th>
    <td><%= @member.house_telephone %></td>
  </tr>
  <tr>
    <th>Wedding Date</th>
    <td><%= @member.wedding_date ? @member.wedding_date.strftime("%d/%m/%Y") : 'N/A' %></td>
    <th>Office Telephone</th>
    <td><%= @member.office_telephone %></td>
  </tr>
  <tr>
    <th>Race</th>
    <td><%= @member.race %></td>
    <th>Handphone</th>
    <td><%= @member.handphone %></td>
  </tr>
  <tr>
    <th>Nationality</th>
    <td><%= @member.nationality %></td>
    <th>Email</th>
    <td><%= @member.email %></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>Previous Religion</th>
    <td><%= @member.previous_religion %></td>
    <th>Hometown Address 1</th>
    <td><%= @member.hometown_address_1 %></td>
  </tr>
  <tr>
    <th>Baptism Date</th>
    <td><%= @member.baptism_date.strftime("%d/%m/%Y") %></td>
    <th>Hometown Address 2</th>
    <td><%= @member.hometown_address_2 %></td>
  </tr>
  <tr>
    <th>First Invited By</th>
    <td><%= @member.first_invited_by %></td>
    <th>Town</th>
    <td><%= @member.ht_town %></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
    <th>Postcode</th>
    <td><%= @member.ht_postcode %></td>
  </tr>
  <tr>
    <th>Highest Education</th>
    <td><%= @member.highest_education %></td>
    <th>State</th>
    <td><%= @member.ht_state %></td>
  </tr>
  <tr>
    <th>Job Title</th>
    <td><%= @member.job_title %></td>
    <th>Hometown Tel No</th>
    <td><%= @member.hometown_telephone %></td>
  </tr>
  <tr>
    <th>Company</th>
    <td><%= @member.company %></td>
    <th>Country</th>
    <td><%= @member.ht_country %></td>
  </tr>
  <tr>
    <th></th>
    <td></td>
    <th></th>
    <td></td>
  </tr>
  <tr>
    <th>Unemployed/No Job?</th>
    <td><%= @member.on_behalf ? "Yes" : "No" %></td>
    <th>Bibletalk Leader?</th>
    <td><%= @member.is_leader ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th>Receipt Name</th>
    <td><%= @member.receipt_name %></td>
    <th>TPRI?</th>
    <td><%= @member.tpri ? "Yes" : "No" %></td>
  </tr>
  <tr>
    <th>Receipt IC</th>
    <td><%= @member.receipt_ic %></td>
    <th>Leader ID</th>
    <!-- Show empty if leader is not assigned -->
    <td><%= @member.leader ? @member.leader.common_name : '' %></td>
  </tr>
  <tr>
    <th>Contribution Notes</th>
    <td><%= @member.notes %></td>
    <th>Sector ID</th>
    <!-- Show empty if sector is not assigned -->
    <td><%= @member.sector ? @member.sector.sector_type : '' %></td>
  </tr>
  <tr>
    <th>ESI?</th>
    <td><%= @member.esi ? "Yes" : "No" %></td>
    <th>Member Group</th>
    <td><%= @member.member_group_leader ?
      link_to(@member.member_group_leader.common_name, member_member_group_path(@member.member_group_leader)) :
       link_to("Create group", member_create_member_group_path(@member)) %> <-- Do not touch </td>
  </tr>
</table>

<div class="actions center">
  <br><br><br><%= link_to 'Edit', edit_member_path(@member), class: "btn btn btn-primary", style: 'margin-top: 10px;' %> &nbsp;
      <%= link_to 'Back', members_path, class: "btn btn btn-primary", style: 'margin-top: 10px;' %>
</div>

<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-90556377-1', 'auto');
ga('send', 'pageview');
</script>
